USE [SuperCerdo]
GO
/****** Object:  StoredProcedure [dbo].[modificarVenta]    Script Date: 06/29/2020 17:42:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[modificarVenta] 
	-- Add the parameters for the stored procedure here
	@idVenta int, 
	@fechaVenta datetime,
	@idSucursal int,
	@idSucNueva int,
	@tipoVenta nvarchar(50) = null,
	@idVendedor int = null,
	@turno nvarchar(50),
	@diaFestivo nvarchar(50) = null,
	@observaciones nvarchar(200),
	@idPersona int,
	@nroRemito nvarchar(50),
	@estado nvarchar(50),
	@eliminarLineas tinyint = 1,
	@enCtaCte tinyint = 0,
	@idEgresoCaja int = 0,	
	@montoEgresoCaja float = 0,
	@formaPago nvarchar(50),
	@tipoComprobante char = null,
	@cuit nvarchar(50) = null,
	@email nvarchar(50) = null,
	@acumRedondeoKgs float = 0,
	@acumRedondeoImporte float = 0,
	@comisionTarjeta float = 0
		
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
		
    -- Insert statements for procedure here
	-- SE ELIMINAN LAS LINEAS DE VENTAS
	IF @eliminarLineas = 1
		BEGIN
			delete from LineaVenta where idVenta=@idVenta 	
		END
	
	-- SE MODIFICA DATOS DE LA VENTA
	update Ventas set fechaVenta=@fechaVenta, turno=@turno,idSucursal=@idSucNueva, idVendedor = @idVendedor,			diaFestivo=@diaFestivo,
		observaciones=@observaciones,idPersona=@idPersona,nroRemito=@nroRemito,estado=@estado, 
		enCtaCte=@enCtaCte, formaPago=@formaPago, tipoComprobante=@tipoComprobante, cuit=@cuit,
		email=@email, acumRedondeoKgs=@acumRedondeoKgs, acumRedondeoImporte=@acumRedondeoImporte,					comisionTarjeta = @comisionTarjeta, actualizado = SYSDATETIME() from Ventas
		where idVenta=@idVenta
		
		
	--Si tiene egreso de caja por venta cta cte se genera un registro opuesto	

	set @montoEgresoCaja = (SELECT  top 1 monto
							FROM EgresosCaja
							WHERE     (tabla = 'Ventas') AND (idTabla = @idVenta)
							ORDER BY EgresosCaja.id desc)
	IF @montoEgresoCaja > 0
		BEGIN
			INSERT INTO EgresosCaja
			(fechaHora, idTipoEgresoCaja, descripcion, detalle, monto, idSucursal, creado, creadoPor,		 actualizado, actualizadoPor, idCompra, esGasto, tabla, idTabla)
			SELECT  top 1 fechaHora, idTipoEgresoCaja, descripcion, detalle, monto, idSucursal, creado, creadoPor,		 actualizado, actualizadoPor, idCompra, esGasto, tabla, idTabla
			FROM EgresosCaja
			WHERE     (tabla = 'Ventas') AND (idTabla = @idVenta)
			ORDER BY EgresosCaja.id desc;
			
			set @idEgresoCaja = SCOPE_IDENTITY() 
			update dbo.EgresosCaja 
				set descripcion = ('Anulado:'+ descripcion)  ,monto = (-1 * monto), creado = SYSDATETIME(), actualizado = null, actualizadoPor = null
			where id = @idEgresoCaja
		END
END
