USE [SuperCerdo]
GO
/****** Object:  StoredProcedure [dbo].[addOrEditFacturaElectronica]    Script Date: 06/23/2020 19:41:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
--CREATE PROCEDURE addOrEditFacturaElectronica 
CREATE PROCEDURE [dbo].[addOrEditFacturaElectronica] 
	-- Add the parameters for the stored procedure here
	@id int = null,
	@ptoVtaAfip nvarchar(50) = null,
	@fechaEmisionAfip nvarchar(50) = null,
	@descTipoCbteAfip nvarchar(50) = null,
	@codTipoCbteAfip int = null,
	@nroCbteAfip nvarchar(50) = null,
	@tipoDocAfip nvarchar(50) = null,
	@nroDocAfip nvarchar(50) = null,
	@razonSocialAFIP nvarchar(50) = null,
	@condicionIvaAFIP nvarchar(50) = null,
	@domicilioAFIP nvarchar(50) = null,
	@condicionVenta nvarchar(50) = null,
	@formaPago nvarchar(50) = null,
	@CAE nvarchar(50) = null,
	@fecVtoCAE nvarchar(50) = null,
	@importeNetoGravado float = null,
	@iva float = null,
	@importeTotal float = null,
	@idVenta int = null,
	@error tinyint = null,
	@mensajeError nvarchar(MAX) = null,
	@fechaError nvarchar(50) = null,
	@cantErrores int = 0

AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    IF @id = 0 
		BEGIN 
			INSERT INTO dbo.FacturaElectronica (ptoVtaAfip,fechaEmisionAfip,descTipoCbteAfip, codTipoCbteAfip ,nroCbteAfip, tipoDocAfip, nroDocAfip,razonSocialAFIP,condicionIvaAFIP,domicilioAFIP,condicionVenta,formaPago,CAE,fecVtoCAE,importeNetoGravado,iva,importeTotal,idVenta,creado,error,mensajeError,fechaError, cantErrores)
			 VALUES (@ptoVtaAfip, @fechaEmisionAfip,@descTipoCbteAfip, @codTipoCbteAfip,@nroCbteAfip, @tipoDocAfip,@nroDocAfip,@razonSocialAFIP,@condicionIvaAFIP,@domicilioAFIP,@condicionVenta,@formaPago,@CAE,@fecVtoCAE,@importeNetoGravado,@iva,@importeTotal,@idVenta,SYSDATETIME(),@error,@mensajeError, @fechaError, @cantErrores) 
			set @id = SCOPE_IDENTITY()
			END 
		ELSE 
		BEGIN 
			set @cantErrores = 0			
			IF @CAE is null or @CAE like ''
			BEGIN						
				SET @cantErrores = (SELECT FacturaElectronica.cantErrores + 1 from FacturaElectronica WHERE id = @id)	
			END		
			
			UPDATE dbo.FacturaElectronica set ptoVtaAfip = @ptoVtaAfip , fechaEmisionAfip = fechaEmisionAfip , descTipoCbteAfip = @descTipoCbteAfip , codTipoCbteAfip = @codTipoCbteAfip, nroCbteAfip = @nroCbteAfip , tipoDocAfip = @tipoDocAfip , nroDocAfip = @nroDocAfip , razonSocialAFIP = @razonSocialAFIP , condicionIvaAFIP = @condicionIvaAFIP , domicilioAFIP = @domicilioAFIP , condicionVenta = @condicionVenta , formaPago = @formaPago , CAE = @CAE , fecVtoCAE = @fecVtoCAE , importeNetoGravado = @importeNetoGravado , iva = @iva , importeTotal = @importeTotal , idVenta = @idVenta , error = @error , mensajeError = @mensajeError , fechaError = @fechaError, cantErrores=@cantErrores      
			WHERE id = @id		
		END 
	select @id 
END
