/****** Script para el comando SelectTopNRows de SSMS  ******/
SELECT TOP 3 [idLineaVenta]
      ,[idVenta]
      ,[idCorte]
      ,[idAnulado]
      ,[cantKg]
      ,[precioKg]
      ,[pesoBalanza]
      ,[bonificacion]
      ,[idLineaVentaAnulado]
  FROM [SuperCerdo].[dbo].[LineaVenta]
  order by idVenta desc