USE [SuperCerdo]
GO
/****** Object:  StoredProcedure [dbo].[agregarLineaVenta]    Script Date: 05/25/2020 21:10:07 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Name
-- Create date: 
-- Description:	
-- =============================================
ALTER PROCEDURE [dbo].[agregarLineaVenta] 
	
	@idLineaVenta int = null,
	@idVenta int,
	@idCorte int,
	@pesoBalanza int = null,
	@idAnulado int, --0 Activo --1 Anulado
	@idLineaVentaAnulado int = null, -- idLineaVenta por la que fue anulado
	@cantKg float,
	@kgsAjusteTarj float,
	@porcKgsAjusteTarj float,
	@precioKg float,
	@bonificacion float = 0,
	@ajustePrecio float = 0
	
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
     
	insert into LineaVenta (idVenta,idCorte,  idAnulado, idLineaVentaAnulado,cantKg, kgsAjusteTarj, porcKgsAjusteTarj, precioKg, ajustePrecio, pesoBalanza, bonificacion)
	values (@idVenta,@idCorte, @idAnulado, @idLineaVentaAnulado,@cantKg, @kgsAjusteTarj, @porcKgsAjusteTarj,@precioKg, @ajustePrecio, @pesoBalanza, @bonificacion)
	
	set @idLineaVenta = SCOPE_IDENTITY() 	
	
	select @idLineaVenta	
	
END
