USE [SuperCerdo]
GO
/****** Object:  StoredProcedure [dbo].[obtenerVentas]    Script Date: 05/16/2020 18:24:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[obtenerVentas] 
	-- Add the parameters for the stored procedure here
	@fechaDesde datetime,
	@fechaHasta datetime,
	@texto nvarchar(50),
	@idSucursal int = -1,
	@idVendedor int = -1,
	@idCliente int = -1,
	@soloAnulados tinyint = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT     dbo.Ventas.idVenta, dbo.Ventas.fechaVenta, dbo.Ventas.idVendedor, dbo.Usuarios.nombre, dbo.Ventas.nroRemito, dbo.Ventas.idPersona, dbo.Personas.razonSocial, dbo.Ventas.idSucursal, dbo.Sucursal.sucursal, Ventas.tipoComprobante, Ventas.enCtaCte, Ventas.formaPago,
                      dbo.Ventas.turno, dbo.Ventas.diaFestivo, dbo.Ventas.observaciones, dbo.Ventas.creado, dbo.Ventas.actualizado,
                      dbo.Ventas.estado, SUM(dbo.LineaVenta.kgsAjusteTarj) as totalKgAj, SUM(dbo.LineaVenta.kgsAjusteTarj * dbo.LineaVenta.precioKg) AS totalImpAj,SUM(dbo.LineaVenta.cantKg) as totalKg, SUM(dbo.LineaVenta.cantKg * dbo.LineaVenta.precioKg) AS totalS
	FROM         dbo.LineaVenta INNER JOIN
                      dbo.Ventas ON dbo.LineaVenta.idVenta = dbo.Ventas.idVenta INNER JOIN
                      dbo.Sucursal ON dbo.Ventas.idSucursal = dbo.Sucursal.idSucursal INNER JOIN
                      dbo.Personas ON dbo.Ventas.idPersona = dbo.Personas.idPersona INNER JOIN
                      dbo.Usuarios ON dbo.Ventas.idVendedor = dbo.Usuarios.id
	WHERE fechaVenta between @fechaDesde and @fechaHasta and ((@idSucursal < 0 and dbo.Ventas.idSucursal >= 0) 
		or (@idSucursal >= 0 and 
		dbo.Ventas.idSucursal = @idSucursal))
		and ((@idVendedor < 0 and dbo.Ventas.idVendedor >= 0) or (@idVendedor >= 0 and 
		dbo.Ventas.idVendedor = @idVendedor))
		and ((@idCliente < 0 and dbo.Ventas.idPersona >= 0) or (@idCliente >= 0 and 
		dbo.Ventas.idPersona = @idCliente))
		and (dbo.Ventas.idVenta like '%'+@texto+'%' or nroRemito like '%'+@texto+'%' or  
		Personas.razonSocial like '%'+@texto+'%' or Ventas.diaFestivo like '%'+@texto+'%' or 
		(DATENAME(WEEKDAY, dbo.Ventas.fechaVenta) LIKE '%' + @texto + '%')) and
		(@soloAnulados=0 or (@soloAnulados=1 and dbo.LineaVenta.cantKg < 0 ))
	
	GROUP BY dbo.Ventas.idVenta, dbo.Ventas.fechaVenta, dbo.Ventas.idVendedor, dbo.Usuarios.nombre, dbo.Ventas.nroRemito, dbo.Ventas.idPersona, dbo.Personas.razonSocial, dbo.Ventas.idSucursal, dbo.Sucursal.sucursal, 
                      Ventas.tipoComprobante, Ventas.enCtaCte, Ventas.formaPago,dbo.Ventas.turno, dbo.Ventas.diaFestivo, dbo.Ventas.observaciones, dbo.Ventas.creado, dbo.Ventas.actualizado, dbo.Ventas.estado, Ventas.acumRedondeoKgs, Ventas.acumRedondeoImporte
	order by fechaVenta desc
	
END
