USE [SuperCerdo]
GO
/****** Object:  StoredProcedure [dbo].[buscarPersona]    Script Date: 07/29/2020 20:26:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Name
-- Create date: 
-- Description:	
-- =============================================
ALTER PROCEDURE [dbo].[buscarPersona]
	-- Add the parameters for the stored procedure here
	@texto nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	select  idPersona, identificacion as nombreIdentif, razonSocial, dbo.Iva.abrev as iva, cuit, telefono, ctaCte, bonificacion, domicilio, ciudad, otrosDatos
	 FROM  dbo.Iva RIGHT OUTER JOIN
                      dbo.Personas ON dbo.Iva.id = dbo.Personas.idIva
	where identificacion like '%'+@texto+'%' or razonSocial like '%'+@texto+'%' or cuit like '%'+@texto+'%'
END
