USE [SuperCerdo]
GO
/****** Object:  StoredProcedure [dbo].[buscarCodigoCorte]    Script Date: 08/01/2016 12:18:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Name
-- Create date: 
-- Description:	
-- =============================================
ALTER PROCEDURE [dbo].[buscarCodigoCorte] 
	-- Add the parameters for the stored procedure here
	@codigo int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT     dbo.Corte.*
FROM         dbo.Corte 
where Corte.codigo=@codigo
END
