USE [SuperCerdo]
GO
/****** Object:  StoredProcedure [dbo].[cargarMovimientoOrigen]    Script Date: 11/21/2016 18:51:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[cargarMovimientoOrigen]
	@idMovimiento int = 0,
	@fechaMovimiento datetime,
	@sucursalOrigen int,
	@sucursalDestino int,
	@idMovOrigen int = 0,
	@observaciones nvarchar(200) = '',
	@creadoPor	int	= null,
	@actualizadoPor	int	= null,
	@isAdd tinyint = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	if @isAdd = 1
		begin
			insert into Movimiento 
					(fechaMovimiento,sucursalOrigen,sucursalDestino, idMovOrigen,observaciones, creado,creadoPor)
			values (@fechaMovimiento,@sucursalOrigen,@sucursalDestino, @idMovOrigen,@observaciones, SYSDATETIME(),@creadoPor)
			
			select top 1 idMovimiento from Movimiento order by idMovimiento desc
		end
	else
		begin
			--SE OBTIENE EL ID LOCAL QUE CORRESPONDO CON EL IdMovOrigen
			set @idMovimiento = (SELECT TOP 1 idMovimiento From Movimiento WHERE idMovOrigen=@idMovOrigen)
			
			--Se crea registro de historial
			insert into MovimientoHistorial (idMovimiento, FechaMovimiento, idSucOrigen, idSucDestino, idCorte, cantKg, cantUnidad, pesoBalanza, actualizadoPor, actualizado, observaciones)

			SELECT     dbo.Movimiento.idMovimiento, dbo.Movimiento.fechaMovimiento, dbo.Movimiento.sucursalOrigen, dbo.Movimiento.sucursalDestino, 
								  dbo.CortePorMovimiento.idCorte, dbo.CortePorMovimiento.cantKg, dbo.CortePorMovimiento.cantUnidad, dbo.CortePorMovimiento.pesoBalanza, 
								  @actualizadoPor, SYSDATETIME(), dbo.Movimiento.observaciones
			FROM         dbo.Movimiento INNER JOIN
								  dbo.CortePorMovimiento ON dbo.Movimiento.idMovimiento = dbo.CortePorMovimiento.idMovimientos
			where Movimiento.idMovimiento = @idMovimiento

			--SE ACTUALIZA			
			update Movimiento set fechaMovimiento=@fechaMovimiento,sucursalOrigen=@sucursalOrigen,
				sucursalDestino=@sucursalDestino, observaciones = @observaciones, actualizacionCompleta = 0, actualizado = SYSDATETIME(), actualizadoPor = @actualizadoPor
			where idMovimiento = @idMovimiento	
						
			--se eliminan todos los cortes en el movimiento
			delete from CortePorMovimiento where idMovimientos=@idMovimiento
			
			--SE Devuelvo el id local
			--select @idMovimiento
			select top 1 idMovimiento from Movimiento where idMovimiento = @idMovimiento
		end
END
