USE [SuperCerdo]
GO
/****** Object:  StoredProcedure [dbo].[obtenerCortes]    Script Date: 09/21/2016 20:44:38 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Name
-- Create date: 
-- Description:	
-- =============================================
ALTER PROCEDURE [dbo].[obtenerCortes] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--SELECT corteP.idCorte, corteP.codigo, corteP.corte, corteP.tipo, corteP.idCorteMaestro, corteM.corte, corteP.porcentaje from Corte corteP, Corte corteM
	--where corteP.idCorte=corteM.idCorte
	SELECT     CorteP.idCorte, CorteP.codigo, CorteP.corte, CorteP.precioKg, CorteP.mayorista, CorteP.enCierreStock, CorteP.tipo, CorteP.idCorteMaestro, CorteM.corte AS corteMaestro, CorteP.porcentaje, 
                      CorteP.porcentajeHueso, CorteP.desvioEstandar, CorteP.independiente, CorteP.promedio
FROM         dbo.Corte AS CorteM RIGHT OUTER JOIN
                      dbo.Corte AS CorteP ON CorteM.idCorte = CorteP.idCorteMaestro

order by CorteP.codigo

END
