USE [SuperCerdo]
GO
/****** Object:  StoredProcedure [dbo].[eliminarMovimiento]    Script Date: 11/24/2016 19:08:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[eliminarMovimiento]
	-- Add the parameters for the stored procedure here
	@idMovimiento int = 0,
	@actualizadoPor int = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    --Se crea registro de historial
	insert into MovimientoHistorial (idMovimiento, FechaMovimiento, idSucOrigen, idSucDestino, idCorte, cantKg, cantUnidad, pesoBalanza, actualizadoPor, actualizado, observaciones)

	SELECT     dbo.Movimiento.idMovimiento, dbo.Movimiento.fechaMovimiento, dbo.Movimiento.sucursalOrigen, dbo.Movimiento.sucursalDestino, 
						  dbo.CortePorMovimiento.idCorte, dbo.CortePorMovimiento.cantKg, dbo.CortePorMovimiento.cantUnidad, dbo.CortePorMovimiento.pesoBalanza, 
						  @actualizadoPor, SYSDATETIME(), dbo.Movimiento.observaciones
	FROM         dbo.Movimiento INNER JOIN
						  dbo.CortePorMovimiento ON dbo.Movimiento.idMovimiento = dbo.CortePorMovimiento.idMovimientos
	where Movimiento.idMovimiento = @idMovimiento
			
    
	delete from CortePorMovimiento where idMovimientos = @idMovimiento
	
	delete from Movimiento where idMovimiento = @idMovimiento
END
