USE [SuperCerdo]
GO
/****** Object:  StoredProcedure [dbo].[addOrEditEgresoCaja]    Script Date: 08/22/2016 19:03:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[addOrEditEgresoCaja]
	@id int = 0,
	@fecha datetime = null,
	@idTipoEgresoCaja int,
	@descripcion nvarchar(50),
	@detalle nvarchar(MAX),
	@monto float,
	@idCompra int = null,
	@tabla nvarchar(50) = null,
	@idTabla int = null,
	@esGasto tinyint = null,
	@idSucursal int,
	@creadoPor int = null,
	@actualizadoPor int = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF @id = 0
		BEGIN
			set @esGasto = (select esGasto from TiposEgresoCaja where TiposEgresoCaja.id = @idTipoEgresoCaja)
			
			insert into dbo.EgresosCaja (fechaHora,idTipoEgresoCaja,descripcion,detalle,monto, idCompra, tabla, idTabla, esGasto, idSucursal,creado,creadoPor)		
			values (@fecha,@idTipoEgresoCaja,@descripcion,@detalle,@monto,@idCompra, @tabla, @idTabla, @esGasto, @idSucursal, SYSDATETIME(),@creadoPor)
			set @id = SCOPE_IDENTITY() 		
		END
	ELSE
		BEGIN
			--Si @esGasto es null
			IF (@id <> 0 and @id <> 1)
				BEGIN
					set @esGasto = (select TiposEgresoCaja.esGasto from TiposEgresoCaja where TiposEgresoCaja.id = @idTipoEgresoCaja)
				END
			
			update dbo.EgresosCaja 
			set  fechaHora = @fecha,idTipoEgresoCaja = @idTipoEgresoCaja,descripcion = @descripcion,
				detalle = @detalle,monto = @monto, idCompra = @idCompra, tabla = @tabla, idTabla = @idTabla, esGasto = @esGasto, idSucursal = @idSucursal,	actualizado = SYSDATETIME(), actualizadoPor = @actualizadoPor
			where id = @id
		END
	
	select @id
END
