USE [SuperCerdo]
GO
/****** Object:  StoredProcedure [dbo].[obtenerInfoCorte]    Script Date: 09/21/2016 20:46:17 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Name
-- Create date: 
-- Description:	Obtiene la información completa del corte seleccionado
-- =============================================
ALTER PROCEDURE [dbo].[obtenerInfoCorte] 
	-- Add the parameters for the stored procedure here
	@idCorte int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
		SELECT     CorteP.idCorte, CorteP.codigo, CorteP.corte, CorteP.precioKg, CorteP.independiente, CorteP.mayorista, CorteP.enCierreStock, CorteP.tipo, CorteP.idCorteMaestro, CorteM.corte AS corteMaestro, CorteP.porcentaje, CorteP.porcentajeHueso, CorteP.desvioEstandar, CorteP.promedio
FROM         dbo.Corte AS CorteP LEFT OUTER JOIN
                      dbo.Corte AS CorteM ON CorteP.idCorteMaestro = CorteM.idCorte
WHERE     (CorteP.idCorte=@idCorte)
END
