USE [SuperCerdo]
GO
/****** Object:  StoredProcedure [dbo].[addOrEditMovCtaCte]    Script Date: 05/31/2017 18:56:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[addOrEditMovCtaCte] 
	-- Add the parameters for the stored procedure here
	@id int = 0,
	@idPersona int = null,
	@fecha datetime = null,
	@tabla nvarchar(50) = null,
	@idTabla int = null,
	@nroDoc nvarchar(50) = null,
	@detalle nvarchar(MAX) = null,
	@tipo nvarchar(50) = null,
	@importe float = null,
	@quitadoCtaCte tinyint = null,
	@idSucursal int = null,
	@creado datetime = null,
	@creadoPor int = null,
	@actualizado datetime = null,
	@actualizadoPor int = null

AS
BEGIN
	SET NOCOUNT ON;
	IF @id = 0 
		BEGIN 
			INSERT INTO dbo.MovCtaCte (idPersona, fecha, tabla, idTabla, nroDoc, detalle, tipo, importe, quitadoCtaCte, idSucursal, creado, creadoPor) 
 VALUES (@idPersona, @fecha, @tabla, @idTabla, @nroDoc, @detalle, @tipo, @importe, @quitadoCtaCte, @idSucursal, SYSDATETIME(), @creadoPor) 
			set @id = SCOPE_IDENTITY()
		END 
	ELSE 
		BEGIN 
			UPDATE dbo.MovCtaCte set idPersona =  @idPersona, fecha =  @fecha, tabla =  @tabla, idTabla =  @idTabla, nroDoc = @nroDoc ,detalle =  @detalle, tipo =  @tipo, importe =  @importe, quitadoCtaCte = @quitadoCtaCte, idSucursal =  @idSucursal, actualizado =  SYSDATETIME(), actualizadoPor =  @actualizadoPor
			WHERE id = @id		
		END 
	select @id 

END
