USE [SuperCerdo]
GO
/****** Object:  StoredProcedure [dbo].[obtenerLineasMov]    Script Date: 03/02/2017 18:34:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =============================================
-- Author:		Name
-- Create date: 
-- Description:	
-- =============================================
CREATE PROCEDURE [dbo].[obtenerLineasMov] 
	-- Add the parameters for the stored procedure here
	@texto nvarchar(200),
	@sucOrigen nvarchar(50),
	@sucDestino nvarchar(50),
	@fechaDesde datetime,
	@fechaHasta datetime	
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;	

		SELECT     dbo.Movimiento.idMovimiento AS 'Id Movimiento', dbo.Movimiento.fechaMovimiento AS 'Fecha Movimiento', 
		dbo.Corte.codigo as 'Codigo', dbo.Corte.corte as 'Corte', (dbo.CortePorMovimiento.cantUnidad) AS 'Total Un.', 
		CAST((dbo.CortePorMovimiento.cantKg) AS decimal(10, 3)) AS 'Total Kg', dbo.CortePorMovimiento.permitirIngreso as 'Permitir Ingr.', dbo.CortePorMovimiento.pesoBalanza as 'Balanza',  
		CASE WHEN (actualizacionCompleta = 2) THEN 'PENDIENTE' WHEN (dbo.Movimiento.idMovOrigen > 0 AND actualizacionCompleta = 1) OR
		(dbo.Movimiento.idMovOrigen IS NULL) THEN 'OK' ELSE 'ERROR' END AS 'Estado', SucursalOrigen.sucursal AS Origen, dbo.Movimiento.idMovOrigen AS 'Id Origen', SucursalDestino.sucursal AS Destino, dbo.Movimiento.observaciones, dbo.Movimiento.creado, CreadoPor.nombre AS 'creado por', 
		dbo.Movimiento.actualizado, ActualizadoPor.nombre AS 'actualizado por'
		FROM         dbo.CortePorMovimiento INNER JOIN
		dbo.Sucursal AS SucursalOrigen INNER JOIN
		dbo.Movimiento ON SucursalOrigen.idSucursal = dbo.Movimiento.sucursalOrigen INNER JOIN
		dbo.Sucursal AS SucursalDestino ON dbo.Movimiento.sucursalDestino = SucursalDestino.idSucursal ON dbo.CortePorMovimiento.idMovimientos = dbo.Movimiento.idMovimiento INNER JOIN
		dbo.Corte ON dbo.CortePorMovimiento.idCorte = dbo.Corte.idCorte LEFT OUTER JOIN
		dbo.Usuarios AS ActualizadoPor ON dbo.Movimiento.actualizadoPor = ActualizadoPor.id LEFT OUTER JOIN
		dbo.Usuarios AS CreadoPor ON dbo.Movimiento.creadoPor = CreadoPor.id
		WHERE     (dbo.Movimiento.fechaMovimiento BETWEEN @fechaDesde AND @fechaHasta + 1) AND (SucursalOrigen.sucursal LIKE '%' + @sucOrigen + '%') AND 
		(SucursalDestino.sucursal LIKE '%' + @sucDestino + '%') AND 
		((CAST(dbo.Movimiento.idMovimiento AS nvarchar(50)) = @texto) OR
		(CAST(dbo.Corte.codigo AS nvarchar(50)) = @texto) OR
		(CAST(dbo.Corte.corte AS nvarchar(50)) LIKE '%' + @texto + '%'))	
	order by fechaMovimiento desc
	
END

