USE [SuperCerdo]
GO
/****** Object:  StoredProcedure [dbo].[getPromMedias]    Script Date: 05/29/2017 11:47:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[getPromMedias]
	-- Add the parameters for the stored procedure here
	@id int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT  TOP 1   dbo.Compras.cantMedias as CantMedias, dbo.Compras.kgsMedias as Kgs, (dbo.Compras.kgsMedias / dbo.Compras.cantMedias) as PromMedias, dbo.Personas.razonSocial as Proveedor, 
                      CONVERT(VARCHAR(10),dbo.Compras.fechaCompra, 103) as Fecha
FROM         dbo.Corte INNER JOIN
                      dbo.CortePorCompra ON dbo.Corte.idCorte = dbo.CortePorCompra.idCorte INNER JOIN
                      dbo.Compras ON dbo.CortePorCompra.idCompra = dbo.Compras.idCompra INNER JOIN
                      dbo.Personas ON dbo.Compras.idProveedor = dbo.Personas.idPersona
	WHERE     (dbo.CortePorCompra.idCompra = @id)

END
