USE [SuperCerdo]
GO
/****** Object:  StoredProcedure [dbo].[addOrEditPersona]    Script Date: 10/11/2017 19:42:55 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[addOrEditPersona]
	-- Add the parameters for the stored procedure here
	
	@idPersona  int = null,
	@razonSocial nvarchar(50) = null,
	@idIva  int = null,
	@cuit nvarchar(50) = null,
	@telefono nvarchar(50) = null,
	@domicilio nvarchar(50) = null,
	@ciudad	nvarchar(50) = null,
	@otrosDatos nvarchar(200) = null,
	@tipo nvarchar(50) = null,
	@ctaCte tinyint  = null,
	@bonificacion float  = null
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	IF @idPersona = 0 
			BEGIN 
				Insert into Personas (razonSocial, idIva, cuit, telefono, domicilio, ciudad, otrosDatos, tipo, ctaCte, bonificacion) values (@razonSocial, @idIva, @cuit, @telefono, @domicilio, @ciudad, @otrosDatos, @tipo, @ctaCte, @bonificacion) 
				set @idPersona = SCOPE_IDENTITY()
			END 
		ELSE 
		BEGIN 
			update Personas set razonSocial=@razonSocial, idIva=@idIva, cuit = @cuit, telefono = @telefono, 
				domicilio = @domicilio, ciudad = @ciudad, tipo=@tipo, otrosDatos= @otrosDatos,
				ctaCte = @ctaCte, bonificacion = @bonificacion 
			where idPersona =@idPersona 		
		END 
	select @idPersona 
END
