USE [SuperCerdo]
GO
/****** Object:  StoredProcedure [dbo].[getUsuariosActivos]    Script Date: 07/17/2017 17:56:27 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[getUsuariosActivos]
	-- Add the parameters for the stored procedure here
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT nombre,usuario,clave from Usuarios 
		where id = 1 or id = 2 or id = 3 or id = 4 or id = 5 or id = 8
END
