USE [SuperCerdo]
GO
/****** Object:  StoredProcedure [dbo].[agregarCompra]    Script Date: 01/29/2018 19:26:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Name
-- Create date: 
-- Description:	
-- =============================================
ALTER PROCEDURE [dbo].[agregarCompra] 
	-- Add the parameters for the stored procedure here
	@nroRemito nvarchar(50) = null,
	@fechaCompra datetime,
	@idProveedor int,
	@estado nvarchar(50),
	@observaciones nvarchar(max),
	@tipoCompra nvarchar(50),
	@cantMedias int = null,
	@kgsMedias float = null,
	@idSucursal int,
	@creadoPor int = null,
	@enCtaCte tinyint = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	insert into Compras (nroRemito, fechaCompra, idProveedor, estado, observaciones,tipoCompra, cantMedias, kgsMedias, enCtaCte, idSucursal, creado, creadoPor)
	values (@nroRemito,@fechaCompra,@idProveedor,@estado,@observaciones,@tipoCompra, @cantMedias, @kgsMedias, @enCtaCte, @idSucursal, SYSDATETIME(), @creadoPor)
	
	select top 1 Compras.idCompra from Compras order by Compras.idCompra desc
END
