USE [SuperCerdo]
GO
/****** Object:  StoredProcedure [dbo].[agregarCortePorCompra]    Script Date: 06/24/2016 20:40:04 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Name
-- Create date: 
-- Description:	
-- =============================================
ALTER PROCEDURE [dbo].[agregarCortePorCompra] 
	-- Add the parameters for the stored procedure here
	@idCompra int,
	@idCorte int,
	@idSucursal int,
	@precioKg float,
	@cantKg float,
	@creado datetime = SYSDATETIME,
	@creadoPor int = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	insert into CortePorCompra(idCompra,idCorte,idSucursal,precioKg,cantKg, creado, creadoPor)
	values (@idCompra,@idCorte,@idSucursal,@precioKg,@cantKg, @creado, @creadoPor)
	
	
		
	---- Se actualiza stock del corte ingresado
	update StockCorteSucursal set stock=(stock+@cantKg)
	FROM  SuperCerdo.dbo.StockCorteSucursal, 
		SuperCerdo.dbo.Corte as CorteP, CortePorCompra
	WHERE StockCorteSucursal.idCorte=CorteP.idCorte and StockCorteSucursal.idSucursal=@idSucursal and CortePorCompra.idCompra=@idCompra
		and StockCorteSucursal.idSucursal=CortePorCompra.idSucursal 
		and CorteP.idCorte=@idCorte
		
		
	-- Se actualizan todos los sub-cortes del corte ingresado
	update StockCorteSucursal 
		set stock=(stock+ (@cantKg* (CorteP.porcentaje / 100) ))
	FROM         dbo.StockCorteSucursal AS StockCorteSucursal INNER JOIN
			  dbo.Corte AS CorteP ON StockCorteSucursal.idCorte = CorteP.idCorte INNER JOIN
			  dbo.CortePorCompra ON StockCorteSucursal.idSucursal = dbo.CortePorCompra.idSucursal INNER JOIN
			  dbo.Corte AS CorteM ON CorteP.idCorteMaestro = CorteM.idCorte AND CorteP.idCorte <> CorteM.idCorte AND dbo.CortePorCompra.idCorte = CorteM.idCorte
	WHERE     (dbo.CortePorCompra.idCompra = @idCompra) AND (StockCorteSucursal.idSucursal = @idSucursal) AND (CorteM.idCorte = @idCorte)
				
	-- Se actualizan todos los cortes nivel 3
	update StockCorteSucursal 
		set stock=(stock+ (@cantKg *((CorteM.porcentaje)/100) * (CorteP.porcentaje / 100)))
	FROM         dbo.StockCorteSucursal AS StockCorteSucursal INNER JOIN
			  dbo.Corte AS CorteP ON StockCorteSucursal.idCorte = CorteP.idCorte INNER JOIN
			  dbo.CortePorCompra ON StockCorteSucursal.idSucursal = dbo.CortePorCompra.idSucursal INNER JOIN
			  dbo.Corte AS CorteM ON CorteP.idCorteMaestro = CorteM.idCorte AND CorteP.idCorte <> CorteM.idCorte INNER JOIN
			  dbo.Corte AS CorteMedia ON CorteM.idCorteMaestro = CorteMedia.idCorte AND dbo.CortePorCompra.idCorte = CorteMedia.idCorte
	WHERE     (dbo.CortePorCompra.idCompra = @idCompra) AND (StockCorteSucursal.idSucursal = @idSucursal) AND (CorteMedia.idCorte = @idCorte)		
				
	-- Se Actualiza Corte Maestro del corte ingresado
	update StockCorteSucursal 
		set stock=(stock +   dbo.CortePorCompra.cantKg + dbo.CortePorCompra.cantKg * CorteP.porcentajeHueso / CorteP.porcentaje )
	FROM         dbo.Corte AS CorteM INNER JOIN
			  dbo.Corte AS CorteP ON CorteM.idCorte = CorteP.idCorteMaestro AND CorteM.idCorte <> CorteP.idCorte INNER JOIN
			  dbo.StockCorteSucursal AS StockCorteSucursal INNER JOIN
			  dbo.CortePorCompra ON StockCorteSucursal.idSucursal = dbo.CortePorCompra.idSucursal ON CorteM.idCorte = StockCorteSucursal.idCorte AND 
			  CorteP.idCorte = dbo.CortePorCompra.idCorte
	WHERE     (dbo.CortePorCompra.idCompra = @idCompra) AND (dbo.CortePorCompra.idSucursal = @idSucursal) AND (dbo.CortePorCompra.idCorte = @idCorte) AND 
			  (CorteM.codigo > 0)
				
				
	-- Se Actualiza Corte Maestro del C. M. del corte ingresado
	update StockCorteSucursal 
		set stock= (StockCorteSucursal.stock + (( dbo.CortePorCompra.cantKg +
					 dbo.CortePorCompra.cantKg * CorteP.porcentajeHueso / CorteP.porcentaje) +
					  (( dbo.CortePorCompra.cantKg +
					 dbo.CortePorCompra.cantKg * CorteP.porcentajeHueso / CorteP.porcentaje)* 
					  CorteM.porcentajeHueso / CorteM.porcentaje)))
	FROM         dbo.Corte AS CorteM INNER JOIN
						  dbo.Corte AS CorteP ON CorteM.idCorte = CorteP.idCorteMaestro AND CorteM.idCorte <> CorteP.idCorte INNER JOIN
						  dbo.StockCorteSucursal AS StockCorteSucursal INNER JOIN
						  dbo.CortePorCompra ON StockCorteSucursal.idSucursal = dbo.CortePorCompra.idSucursal ON CorteP.idCorte = dbo.CortePorCompra.idCorte INNER JOIN
						  dbo.Corte AS CorteMedia ON CorteM.idCorteMaestro = CorteMedia.idCorte AND StockCorteSucursal.idCorte = CorteMedia.idCorte
	WHERE     (dbo.CortePorCompra.idCompra = @idCompra) AND (dbo.CortePorCompra.idSucursal = @idSucursal) AND (dbo.CortePorCompra.idCorte = @idCorte) AND 
						  (CorteMedia.codigo > 0)


	--Agregar corte por Compra
	---ACTUALIZACION DE CORTES
	
		--SubCortes del CorteMaestro del Corte M del Corte Ingresado
	update StockCorteSucursal 
	set stock=(StockCorteSucursalMaestro.stock * CorteSubCorte.porcentaje/100)	
	FROM         dbo.Corte AS CorteP INNER JOIN
			  dbo.Corte AS SubCorteM ON CorteP.idCorteMaestro = SubCorteM.idCorte INNER JOIN
			  dbo.StockCorteSucursal AS StockCorteSucursal INNER JOIN
			  dbo.Corte AS CorteSubCorte ON StockCorteSucursal.idCorte = CorteSubCorte.idCorte INNER JOIN
			  dbo.StockCorteSucursal AS StockCorteSucursalMaestro INNER JOIN
			  dbo.Corte AS CorteM ON StockCorteSucursalMaestro.idCorte = CorteM.idCorte ON CorteSubCorte.idCorteMaestro = CorteM.idCorte AND 
			  StockCorteSucursal.idSucursal = StockCorteSucursalMaestro.idSucursal ON SubCorteM.idCorteMaestro = CorteM.idCorte AND 
			  SubCorteM.idCorte <> CorteSubCorte.idCorte
	WHERE     (CorteM.codigo > 0) AND (StockCorteSucursalMaestro.idSucursal = @idsucursal) AND (CorteSubCorte.independiente = 0)
			 AND (CorteP.idCorte = @idcorte)

	--Subcortes de los Subcortes del Corte Maestro del Corte M del Corte Ingresado
	update StockCorteSucursal 
	set stock=(StockCorteSucursalMaestro.stock * CorteSubCorte2.porcentaje / 100 )
	FROM         dbo.Corte AS SubCorteM INNER JOIN
			  dbo.Corte AS CorteP ON SubCorteM.idCorte = CorteP.idCorteMaestro INNER JOIN
			  dbo.StockCorteSucursal AS StockCorteSucursal INNER JOIN
			  dbo.StockCorteSucursal AS StockCorteSucursalMaestro ON StockCorteSucursal.idSucursal = StockCorteSucursalMaestro.idSucursal INNER JOIN
			  dbo.Corte AS CorteM INNER JOIN
			  dbo.Corte AS CorteSubCorte INNER JOIN
			  dbo.Corte AS CorteSubCorte2 ON CorteSubCorte.idCorte = CorteSubCorte2.idCorteMaestro ON CorteM.idCorte = CorteSubCorte.idCorteMaestro ON 
			  StockCorteSucursal.idCorte = CorteSubCorte2.idCorte AND StockCorteSucursalMaestro.idCorte = CorteSubCorte.idCorte ON 
			  SubCorteM.idCorteMaestro = CorteM.idCorte AND SubCorteM.idCorte <> CorteSubCorte.idCorte
	WHERE     (CorteP.idCorte = @idcorte) AND (CorteM.codigo > 0) AND (StockCorteSucursalMaestro.idSucursal = @idsucursal)
		 AND (CorteSubCorte.independiente = 0) AND (CorteSubCorte2.independiente = 0)
		
		
	--SubCortes del CorteMaestro
	update StockCorteSucursal 
	set stock=(StockCorteSucursalMaestro.stock * CorteSubCorte.porcentaje/100)
	FROM         dbo.Corte AS CorteP INNER JOIN
			  dbo.StockCorteSucursal AS StockCorteSucursal INNER JOIN
			  dbo.Corte AS CorteSubCorte ON StockCorteSucursal.idCorte = CorteSubCorte.idCorte INNER JOIN
			  dbo.StockCorteSucursal AS StockCorteSucursalMaestro INNER JOIN
			  dbo.Corte AS CorteM ON StockCorteSucursalMaestro.idCorte = CorteM.idCorte ON CorteSubCorte.idCorteMaestro = CorteM.idCorte AND 
			  StockCorteSucursal.idSucursal = StockCorteSucursalMaestro.idSucursal ON CorteP.idCorteMaestro = CorteM.idCorte AND 
			  CorteP.idCorte <> CorteSubCorte.idCorte
	WHERE     (CorteP.idCorte = @idcorte) AND (CorteM.codigo > 0) AND (CorteSubCorte.independiente = 0)
		 AND (StockCorteSucursalMaestro.idSucursal = @idsucursal)

	
	--Subcortes de los Subcortes del Corte Maestro
	update StockCorteSucursal 
	set stock=(StockCorteSucursalMaestro.stock * CorteSubCorte2.porcentaje / 100 )
	FROM         dbo.Corte AS CorteSubCorte INNER JOIN
		  dbo.Corte AS CorteSubCorte2 ON CorteSubCorte.idCorte = CorteSubCorte2.idCorteMaestro INNER JOIN
		  dbo.Corte AS CorteM INNER JOIN
		  dbo.Corte AS CorteP ON CorteM.idCorte = CorteP.idCorteMaestro ON CorteSubCorte.idCorteMaestro = CorteM.idCorte AND 
		  CorteSubCorte.idCorte <> CorteP.idCorte INNER JOIN
		  dbo.StockCorteSucursal AS StockCorteSucursal INNER JOIN
		  dbo.StockCorteSucursal AS StockCorteSucursalMaestro ON StockCorteSucursal.idSucursal = StockCorteSucursalMaestro.idSucursal ON 
		  CorteSubCorte2.idCorte = StockCorteSucursal.idCorte AND CorteSubCorte.idCorte = StockCorteSucursalMaestro.idCorte
	WHERE     (CorteP.idCorte = @idcorte) AND (CorteM.codigo > 0) AND (StockCorteSucursalMaestro.idSucursal = @idsucursal)
		 AND (CorteSubCorte.independiente = 0) AND (CorteSubCorte2.independiente = 0)

	
	----SubCortes del CorteMaestro
	--update StockCorteSucursal 
	--set stock=(StockCorteSucursalMaestro.stock * CorteSubCorte.porcentaje/100)
	--FROM         dbo.Corte AS CorteP INNER JOIN
	--	  dbo.StockCorteSucursal AS StockCorteSucursal INNER JOIN
	--	  dbo.Corte AS CorteSubCorte ON StockCorteSucursal.idCorte = CorteSubCorte.idCorte INNER JOIN
	--	  dbo.StockCorteSucursal AS StockCorteSucursalMaestro INNER JOIN
	--	  dbo.Corte AS CorteM ON StockCorteSucursalMaestro.idCorte = CorteM.idCorte ON CorteSubCorte.idCorteMaestro = CorteM.idCorte AND 
	--	  StockCorteSucursal.idSucursal = StockCorteSucursalMaestro.idSucursal ON CorteP.idCorteMaestro = CorteM.idCorte AND 
	--	  CorteP.idCorte <> CorteSubCorte.idCorte
	--WHERE     (CorteP.idCorte = @idcorte)AND (StockCorteSucursalMaestro.idSucursal = @idsucursal)
	--		 AND (CorteM.codigo > 0)AND (CorteSubCorte.independiente=0)
				

	
	----Subcortes de los Subcortes del Corte Maestro
	--update StockCorteSucursal 
	--set stock=(StockCorteSucursalMaestro.stock * CorteSubCorte2.porcentaje / 100 )
	--FROM         dbo.Corte AS CorteSubCorte INNER JOIN
	--	  dbo.Corte AS CorteSubCorte2 ON CorteSubCorte.idCorte = CorteSubCorte2.idCorteMaestro INNER JOIN
	--	  dbo.Corte AS CorteM INNER JOIN
	--	  dbo.Corte AS CorteP ON CorteM.idCorte = CorteP.idCorteMaestro ON CorteSubCorte.idCorteMaestro = CorteM.idCorte AND 
	--	  CorteSubCorte.idCorte <> CorteP.idCorte INNER JOIN
	--	  dbo.StockCorteSucursal AS StockCorteSucursal INNER JOIN
	--	  dbo.StockCorteSucursal AS StockCorteSucursalMaestro ON StockCorteSucursal.idSucursal = StockCorteSucursalMaestro.idSucursal ON 
	--	  CorteSubCorte2.idCorte = StockCorteSucursal.idCorte AND CorteSubCorte.idCorte = StockCorteSucursalMaestro.idCorte
	--WHERE     (CorteP.idCorte = @idcorte) AND (CorteM.codigo > 0) AND (StockCorteSucursalMaestro.idSucursal = @idsucursal)
	--	 AND (CorteSubCorte2.independiente = 0)

END
