USE [SuperCerdo]
GO
/****** Object:  StoredProcedure [dbo].[anularEmbutido]    Script Date: 03/26/2016 13:12:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Name
-- Create date: 
-- Description:	
-- =============================================
ALTER PROCEDURE [dbo].[anularEmbutido] 
	-- Add the parameters for the stored procedure here
	@idEmbutido int,
	@actualizadoPor int = null
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	update Embutidos set estado='Anulado', actualizado = SYSDATETIME(), actualizadoPor = @actualizadoPor where idEmbutido=@idEmbutido
	
	
END
