USE [SuperCerdo]
GO
/****** Object:  StoredProcedure [dbo].[buscarCorteSinMaestro]    Script Date: 03/19/2016 12:51:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Name
-- Create date: 
-- Description:	
-- =============================================
ALTER PROCEDURE [dbo].[buscarCorteSinMaestro] 
	-- Add the parameters for the stored procedure here
	@texto nvarchar(50)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

	SELECT     CorteP.idCorte, CorteP.codigo, CorteP.corte
	FROM      
			  dbo.Corte AS CorteP 
	WHERE    CorteP.codigo > 0 and (CorteP.corte like '%'+@texto+'%'  OR convert(nvarchar(50), CorteP.codigo)like @texto+'%' )

	order by CorteP.codigo
END
