USE [SuperCerdo]
GO
/****** Object:  StoredProcedure [dbo].[buscarCorte]    Script Date: 06/27/2016 10:36:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Name
-- Create date: 
-- Description:	
-- =============================================
ALTER PROCEDURE [dbo].[buscarCorte] 
	-- Add the parameters for the stored procedure here
	@texto nvarchar(50)
		
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT      CorteP.idCorte, CorteP.codigo, CorteP.corte, CorteP.precioKg, CorteP.mayorista, CorteP.enCierreStock, CorteP.tipo, CorteP.idCorteMaestro, CorteM.corte AS corteMaestro, 
                      CAST(CorteP.porcentaje AS numeric(10, 2)) AS porcentaje, CorteP.porcentajeHueso, CorteP.desvioEstandar, CorteP.independiente, StockSL.idSucursal AS idSucursalSL, 
                      SucursalSL.sucursal AS sucursalSL, CAST(StockSL.stock AS numeric(10, 2)) AS stockSL, StockSL.stockTeorico AS stockTeoricoSL, 
                      StockSM.idSucursal AS idSucursalSM, SucursalSM.sucursal AS sucursalSM, CAST(StockSM.stock AS numeric(10, 2)) AS stockSM, 
                      StockSM.stockTeorico AS stockTeoricoSM
FROM         dbo.Corte AS CorteM INNER JOIN
                      dbo.Sucursal AS SucursalSM INNER JOIN
                      dbo.Corte AS CorteP INNER JOIN
                      dbo.StockCorteSucursal AS StockSM ON CorteP.idCorte = StockSM.idCorte ON SucursalSM.idSucursal = StockSM.idSucursal INNER JOIN
                      dbo.StockCorteSucursal AS StockSL ON CorteP.idCorte = StockSL.idCorte INNER JOIN
                      dbo.Sucursal AS SucursalSL ON StockSL.idSucursal = SucursalSL.idSucursal ON CorteM.idCorte = CorteP.idCorteMaestro
WHERE    (StockSM.idSucursal = 2) AND (StockSL.idSucursal = 1) and (CorteP.corte like '%'+@texto+'%'  OR cast(CorteP.codigo as nvarchar(50))= @texto or CorteM.corte like '%'+@texto+'%')

order by CorteP.codigo

END
