USE [SuperCerdo]
GO
/****** Object:  StoredProcedure [dbo].[modificarVenta]    Script Date: 06/29/2016 21:49:33 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
ALTER PROCEDURE [dbo].[modificarVenta] 
	-- Add the parameters for the stored procedure here
	@idVenta int, 
	@fechaVenta datetime,
	@idSucursal int,
	@idSucNueva int,
	@tipoVenta nvarchar(50) = null,
	@idVendedor int = null,
	@turno nvarchar(50),
	@diaFestivo nvarchar(50) = null,
	@observaciones nvarchar(200),
	@idPersona int,
	@nroRemito nvarchar(50),
	@estado nvarchar(50),
	@eliminarLineas tinyint = 1
		
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
		
    -- Insert statements for procedure here
	-- SE ELIMINAN LAS LINEAS DE VENTAS
	IF @eliminarLineas = 1
		BEGIN
			delete from LineaVenta where idVenta=@idVenta 	
		END
	
	-- SE MODIFICA DATOS DE LA VENTA
	update Ventas set fechaVenta=@fechaVenta, turno=@turno,idSucursal=@idSucNueva, idVendedor = @idVendedor,			diaFestivo=@diaFestivo,
		observaciones=@observaciones,idPersona=@idPersona,nroRemito=@nroRemito,estado=@estado, actualizado = SYSDATETIME() from Ventas
		where idVenta=@idVenta
END
