USE [SuperCerdo]
GO
/****** Object:  StoredProcedure [dbo].[modificarMovimiento]    Script Date: 05/03/2015 20:52:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Name
-- Create date: 
-- Description:	
-- =============================================
ALTER PROCEDURE [dbo].[modificarMovimiento] 
	-- Add the parameters for the stored procedure here
	@idMovimiento int,
	@fechaMovimiento datetime,
	@sucursalOrigen int,
	@sucursalDestino int,
	@observaciones nvarchar(200)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	update Movimiento set fechaMovimiento=@fechaMovimiento,sucursalOrigen=@sucursalOrigen,sucursalDestino=@sucursalDestino,observaciones=@observaciones, actualizado = SYSDATETIME()
	where idMovimiento=@idMovimiento

END
