USE [SuperCerdo]
GO
/****** Object:  StoredProcedure [dbo].[obtenerMovimientos]    Script Date: 05/03/2015 21:24:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Name
-- Create date: 
-- Description:	
-- =============================================
ALTER PROCEDURE [dbo].[obtenerMovimientos] 
	-- Add the parameters for the stored procedure here
	@texto nvarchar(200),
	@sucOrigen nvarchar(50),
	@sucDestino nvarchar(50),
	@fechaDesde datetime,
	@fechaHasta datetime
	
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--SELECT     dbo.Movimientos.idMovimiento, dbo.Movimientos.fechaMovimiento, dbo.Movimientos.idCorte, dbo.Corte.corte, dbo.Movimientos.sucursalOrigen AS idSucursalOrigen, 
 --                     SucursalOrigen.sucursal AS sucursalOrigen, dbo.Movimientos.sucursalDestino AS idSucursalDestino, SucursalDestino.sucursal AS sucursalDestino, 
 --                     CAST(dbo.Movimientos.kgCorte as numeric(10,2)) as kgCorte, dbo.Movimientos.estado
	--FROM         dbo.Movimientos INNER JOIN
 --                     dbo.Corte ON dbo.Movimientos.idCorte = dbo.Corte.idCorte INNER JOIN
 --                     dbo.Sucursal AS SucursalOrigen ON dbo.Movimientos.sucursalOrigen = SucursalOrigen.idSucursal INNER JOIN
 --                     dbo.Sucursal AS SucursalDestino ON dbo.Movimientos.sucursalDestino = SucursalDestino.idSucursal
 --  
	SELECT    dbo.Movimiento.idMovimiento as 'Id Movimiento',  dbo.Movimiento.fechaMovimiento as 'Fecha Movimiento', SucursalOrigen.sucursal as Origen, SucursalDestino.sucursal AS Destino, SUM(dbo.CortePorMovimiento.cantUnidad) AS 'Total Un.',CAST(SUM(dbo.CortePorMovimiento.cantKg)as decimal(10,3)) AS 'Total Kg', 
			  dbo.Movimiento.observaciones, dbo.Movimiento.creado, dbo.Movimiento.actualizado
	FROM         dbo.CortePorMovimiento INNER JOIN
		  dbo.Sucursal AS SucursalOrigen INNER JOIN
		  dbo.Movimiento ON SucursalOrigen.idSucursal = dbo.Movimiento.sucursalOrigen INNER JOIN
		  dbo.Sucursal AS SucursalDestino ON dbo.Movimiento.sucursalDestino = SucursalDestino.idSucursal ON 
		  dbo.CortePorMovimiento.idMovimientos = dbo.Movimiento.idMovimiento
	WHERE	fechaMovimiento between @fechaDesde and @fechaHasta+1  and SucursalOrigen.sucursal like '%'+@sucOrigen+'%'  and sucursalDestino.sucursal like '%'+@sucDestino+'%'  or (CAST(dbo.Movimiento.idMovimiento as nvarchar(50)) like @texto)      
	GROUP BY dbo.Movimiento.idMovimiento,dbo.Movimiento.fechaMovimiento, SucursalOrigen.sucursal, SucursalDestino.sucursal, dbo.Movimiento.observaciones, dbo.Movimiento.creado, dbo.Movimiento.actualizado
	order by fechaMovimiento desc
	
END
