USE [SuperCerdo]
GO
/****** Object:  StoredProcedure [dbo].[obtenerTemporalLineaVenta]    Script Date: 03/11/2016 11:40:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
--create PROCEDURE obtenerTemporalLineaVenta
CREATE PROCEDURE [dbo].[obtenerTemporalLineaVenta]
	-- Add the parameters for the stored procedure here	
	@fechaDesde datetime,
	@fechaHasta datetime,
	@texto nvarchar(50),
	@idSucursal int = -1,
	@idVendedor int = -1,
	@conVentas tinyint = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	(SELECT  dbo.Usuarios.nombre, dbo.TemporalLineaVenta.fechaInicioPesada, dbo.Corte.codigo, dbo.Corte.corte, dbo.TemporalLineaVenta.cantKg, 
						  dbo.TemporalLineaVenta.precioKg, dbo.TemporalLineaVenta.totalCorte, dbo.Ventas.idVenta, 
						  dbo.TemporalLineaVenta.ventaEnCurso
	FROM         dbo.TemporalLineaVenta INNER JOIN
						  dbo.Corte ON dbo.TemporalLineaVenta.idCorte = dbo.Corte.idCorte INNER JOIN
						  dbo.Usuarios ON dbo.TemporalLineaVenta.idVendedor = dbo.Usuarios.id CROSS JOIN
						  dbo.Ventas
	WHERE @conVentas = 1 and dbo.TemporalLineaVenta.ventaEnCurso = 1 and dbo.TemporalLineaVenta.fechaInicioPesada between @fechaDesde and @fechaHasta and (dbo.TemporalLineaVenta.fechaInicioPesada BETWEEN dbo.Ventas.fechaVenta AND dbo.Ventas.creado) and ((@idSucursal < 0 and dbo.TemporalLineaVenta.idSucursal >= 0) 
		or (@idSucursal >= 0 and 
		dbo.TemporalLineaVenta.idSucursal = @idSucursal))
		and ((@idVendedor < 0 and dbo.TemporalLineaVenta.idVendedor >= 0) or (@idVendedor >= 0 and 
		dbo.TemporalLineaVenta.idVendedor = @idVendedor)) and (dbo.Corte.codigo like '%'+@texto+'%' or dbo.Corte.corte like '%'+@texto+'%'))
	union
	(SELECT  dbo.Usuarios.nombre, dbo.TemporalLineaVenta.fechaInicioPesada, dbo.Corte.codigo, dbo.Corte.corte, dbo.TemporalLineaVenta.cantKg, 
						  dbo.TemporalLineaVenta.precioKg, dbo.TemporalLineaVenta.totalCorte, null as idVenta, dbo.TemporalLineaVenta.ventaEnCurso
	FROM         dbo.TemporalLineaVenta INNER JOIN
						  dbo.Corte ON dbo.TemporalLineaVenta.idCorte = dbo.Corte.idCorte INNER JOIN
						  dbo.Usuarios ON dbo.TemporalLineaVenta.idVendedor = dbo.Usuarios.id
	WHERE     dbo.TemporalLineaVenta.ventaEnCurso = 0 and dbo.TemporalLineaVenta.fechaInicioPesada between @fechaDesde and @fechaHasta and ((@idSucursal < 0 and dbo.TemporalLineaVenta.idSucursal >= 0) 
		or (@idSucursal >= 0 and 
		dbo.TemporalLineaVenta.idSucursal = @idSucursal))
		and ((@idVendedor < 0 and dbo.TemporalLineaVenta.idVendedor >= 0) or (@idVendedor >= 0 and 
		dbo.TemporalLineaVenta.idVendedor = @idVendedor)) and (dbo.Corte.codigo like '%'+@texto+'%' or dbo.Corte.corte like '%'+@texto+'%'))

	ORDER BY dbo.TemporalLineaVenta.fechaInicioPesada DESC     
     
END
