USE [SuperCerdo]
GO
/****** Object:  StoredProcedure [dbo].[obtenerCortes]    Script Date: 06/27/2016 10:39:25 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Name
-- Create date: 
-- Description:	
-- =============================================
ALTER PROCEDURE [dbo].[obtenerCortes] 
	-- Add the parameters for the stored procedure here
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	--SELECT corteP.idCorte, corteP.codigo, corteP.corte, corteP.tipo, corteP.idCorteMaestro, corteM.corte, corteP.porcentaje from Corte corteP, Corte corteM
	--where corteP.idCorte=corteM.idCorte
	SELECT     CorteP.idCorte, CorteP.codigo, CorteP.corte,CorteP.precioKg, 
	CorteP.mayorista, CorteP.enCierreStock, CorteP.tipo, CorteP.idCorteMaestro, CorteM.corte AS corteMaestro, CorteP.porcentaje as porcentaje, CorteP.porcentajeHueso, CorteP.desvioEstandar, CorteP.independiente, StockSL.idSucursal AS idSucursalSL,
                       SucursalSL.sucursal AS sucursalSL, StockSL.stock  AS stockSL, StockSM.idSucursal AS idSucursalSM, SucursalSM.sucursal AS sucursalSM, StockSM.stock  AS stockSM
FROM         dbo.Corte AS CorteM INNER JOIN
                      dbo.Sucursal AS SucursalSM INNER JOIN
                      dbo.Corte AS CorteP INNER JOIN
                      dbo.StockCorteSucursal AS StockSM ON CorteP.idCorte = StockSM.idCorte ON SucursalSM.idSucursal = StockSM.idSucursal INNER JOIN
                      dbo.StockCorteSucursal AS StockSL ON CorteP.idCorte = StockSL.idCorte INNER JOIN
                      dbo.Sucursal AS SucursalSL ON StockSL.idSucursal = SucursalSL.idSucursal ON CorteM.idCorte = CorteP.idCorteMaestro
WHERE     (StockSM.idSucursal = 2) AND (StockSL.idSucursal = 1)

order by CorteP.codigo

END
