USE [SuperCerdo]
GO
/****** Object:  StoredProcedure [dbo].[obtenerCortesPorCompra]    Script Date: 06/25/2016 17:47:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Name
-- Create date: 
-- Description:	
-- =============================================
ALTER PROCEDURE [dbo].[obtenerCortesPorCompra] 
	-- Add the parameters for the stored procedure here
	@idCompra int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT     dbo.CortePorCompra.idCortePorCompra, dbo.CortePorCompra.idCorte, dbo.Corte.codigo, dbo.Corte.corte, dbo.CortePorCompra.cantKg, dbo.CortePorCompra.precioKg, 
                      dbo.CortePorCompra.cantKg * dbo.CortePorCompra.precioKg AS totalS, dbo.CortePorCompra.idSucursal, dbo.Sucursal.sucursal, dbo.CortePorCompra.creado, dbo.CortePorCompra.creadoPor
	FROM         dbo.CortePorCompra INNER JOIN
                      dbo.Corte ON dbo.CortePorCompra.idCorte = dbo.Corte.idCorte INNER JOIN
                      dbo.Sucursal ON dbo.CortePorCompra.idSucursal = dbo.Sucursal.idSucursal
	 where CortePorCompra.idCompra=@idCompra
	 order by dbo.Corte.codigo            
END
