USE [SuperCerdo]
GO
/****** Object:  StoredProcedure [dbo].[agregarEmbutido]    Script Date: 03/25/2016 22:13:34 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Name
-- Create date: 
-- Description:	
-- =============================================
ALTER PROCEDURE [dbo].[agregarEmbutido] 
	-- Add the parameters for the stored procedure here
	@fechaEmbutido datetime,
	@idCorte int,
	@idSucursal int,
	@creadoPor int = null,
	@observaciones nvarchar(200)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	insert into Embutidos (fechaEmbutido,idCorte,idSucursal,estado, observaciones, creado, creadoPor) 
	values (@fechaEmbutido,@idCorte,@idSucursal,'',@observaciones, SYSDATETIME(), @creadoPor)
	
	--selecciono el idEmbutido agregado
	select top 1 Embutidos.idEmbutido from Embutidos order by idEmbutido desc
END
