USE [SuperCerdo]
GO
/****** Object:  StoredProcedure [dbo].[cargarCortesPorMovimiento]    Script Date: 03/30/2016 18:15:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Name
-- Create date: 
-- Description:	
-- =============================================
ALTER PROCEDURE [dbo].[cargarCortesPorMovimiento] 
	-- Add the parameters for the stored procedure here
	@idMovimiento int,
	@acumulado tinyint = 0
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
    IF @acumulado = 0
		begin
		
			SELECT     dbo.CortePorMovimiento.idCorteMovimiento, dbo.Corte.idCorte, dbo.Corte.codigo, dbo.Corte.corte, dbo.CortePorMovimiento.cantKg, dbo.CortePorMovimiento.cantUnidad,dbo.CortePorMovimiento.pesoBalanza
			FROM         dbo.CortePorMovimiento INNER JOIN
					  dbo.Corte ON dbo.CortePorMovimiento.idCorte = dbo.Corte.idCorte
			where dbo.CortePorMovimiento.idMovimientos=@idMovimiento
		
		end
    else
		begin
			SELECT     dbo.Corte.codigo, dbo.Corte.corte, SUM(dbo.CortePorMovimiento.cantUnidad) AS cantUnidad, SUM(dbo.CortePorMovimiento.cantKg) AS cantKg, 
					  0 AS idCorteMovimiento, 0 AS pesoBalanza, dbo.CortePorMovimiento.idCorte, dbo.CortePorMovimiento.idMovimientos
			FROM         dbo.CortePorMovimiento INNER JOIN
								  dbo.Corte ON dbo.CortePorMovimiento.idCorte = dbo.Corte.idCorte
			WHERE     (dbo.CortePorMovimiento.idMovimientos = @idMovimiento)
			GROUP BY dbo.Corte.codigo, dbo.Corte.corte, dbo.CortePorMovimiento.idCorte, dbo.CortePorMovimiento.idMovimientos
			ORDER BY dbo.Corte.codigo
		end
	
END
