USE [SuperCerdo]
GO
/****** Object:  StoredProcedure [dbo].[TotalMovimientosPorCorte]    Script Date: 05/03/2015 21:48:36 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Name
-- Create date: 
-- Description:	
-- =============================================
ALTER PROCEDURE [dbo].[TotalMovimientosPorCorte] 
	-- Add the parameters for the stored procedure here
	@texto nvarchar(50),
	@idsucursal int,
	@fechaDesde datetime,
	@fechaHasta datetime
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
SELECT   cast(Movimientos.codigo  as NCHAR(5)) as Codigo, Movimientos.corte as 'Corte', SUM(Movimientos.TotalUnidad) as 'Total Unidades', SUM(Movimientos.TotalEgreso) AS 'Total Kgs', Movimientos.origen AS 'Sucursal Origen', Movimientos.destino AS 'Sucursal Destino'
FROM       
(
--Seleccion de todos los cortes
(SELECT     dbo.Corte.idCorte, dbo.Corte.codigo, dbo.Corte.corte, SucursalOrigen.idSucursal AS idOrigen, SucursalOrigen.sucursal AS origen, SucursalDestino.idSucursal AS idDestino, 
                      SucursalDestino.sucursal AS destino, 0 AS TotalUnidad, 0 AS TotalEgreso
FROM         dbo.Sucursal AS SucursalOrigen INNER JOIN
                      dbo.Sucursal AS SucursalDestino ON SucursalOrigen.idSucursal <> SucursalDestino.idSucursal CROSS JOIN
                      dbo.Corte
WHERE     (dbo.Corte.corte LIKE '%' + @texto + '%' or dbo.Corte.codigo LIKE '%' + @texto + '%') AND (dbo.Corte.codigo > 0) AND (SucursalDestino.idSucursal = @idSucursal) AND (dbo.Corte.independiente = 1))

union
--Movimientos Cortes independientes
(SELECT     dbo.Corte.idCorte, dbo.Corte.codigo, dbo.Corte.corte, SucursalOrigen.idSucursal AS idOrigen, SucursalOrigen.sucursal AS origen, SucursalDestino.idSucursal AS idDestino, 
                      SucursalDestino.sucursal AS destino, SUM(dbo.CortePorMovimiento.cantUnidad) AS TotalUnidad, SUM(dbo.CortePorMovimiento.cantKg) AS TotalEgreso
FROM         dbo.Corte INNER JOIN
                      dbo.CortePorMovimiento ON dbo.Corte.idCorte = dbo.CortePorMovimiento.idCorte INNER JOIN
                      dbo.Movimiento ON dbo.CortePorMovimiento.idMovimientos = dbo.Movimiento.idMovimiento INNER JOIN
                      dbo.Sucursal AS SucursalOrigen ON dbo.Movimiento.sucursalOrigen = SucursalOrigen.idSucursal INNER JOIN
                      dbo.Sucursal AS SucursalDestino ON dbo.Movimiento.sucursalDestino = SucursalDestino.idSucursal
WHERE     (dbo.Movimiento.fechaMovimiento BETWEEN @fechaDesde AND @fechaHasta + 1) AND (dbo.Movimiento.sucursalDestino = @idSucursal) AND 
                      (dbo.Corte.corte LIKE '%' + @texto + '%' or dbo.Corte.codigo LIKE '%' + @texto + '%') AND (dbo.Corte.codigo > 0) OR
                      (CAST(dbo.Movimiento.idMovimiento AS nvarchar(8)) LIKE @texto)
GROUP BY dbo.Corte.idCorte, dbo.Corte.codigo,dbo.Corte.corte, SucursalOrigen.idSucursal, SucursalOrigen.sucursal, SucursalDestino.idSucursal, SucursalDestino.sucursal
)
--Suma de sub-cortes
--(SELECT     dbo.Corte.idCorte, dbo.Corte.corte, SucursalOrigen.idSucursal as idOrigen, SucursalOrigen.sucursal as origen, SucursalDestino.idSucursal AS idDestino, SucursalDestino.sucursal AS destino, 
--                      SUM(dbo.CortePorMovimiento.cantKg) AS TotalEgreso
--FROM         dbo.Corte INNER JOIN
--                      dbo.Corte AS CorteM ON dbo.Corte.idCorteMaestro = CorteM.idCorte AND dbo.Corte.idCorte <> CorteM.idCorte INNER JOIN
--                      dbo.CortePorMovimiento ON dbo.Corte.idCorte = dbo.CortePorMovimiento.idCorte INNER JOIN
--                      dbo.Movimiento ON dbo.CortePorMovimiento.idMovimientos = dbo.Movimiento.idMovimiento INNER JOIN
--                      dbo.Sucursal AS SucursalOrigen ON dbo.Movimiento.sucursalOrigen = SucursalOrigen.idSucursal INNER JOIN
--                      dbo.Sucursal AS SucursalDestino ON dbo.Movimiento.sucursalDestino = SucursalDestino.idSucursal
--WHERE     (CorteM.codigo < 1) AND (dbo.Movimiento.fechaMovimiento BETWEEN @fechaDesde AND @fechaHasta+1) AND (dbo.Movimiento.sucursalDestino = @idSucursal) AND 
--                    ((dbo.Corte.corte LIKE '%' + @texto + '%') or (cast( dbo.Movimiento.idMovimiento as nvarchar(8)) like @texto ))
--GROUP BY dbo.Corte.idCorte, dbo.Corte.corte, SucursalOrigen.idSucursal, SucursalOrigen.sucursal, SucursalDestino.idSucursal, SucursalDestino.sucursal)
--union
--(SELECT    dbo.Corte.idCorte, dbo.Corte.corte, SucursalOrigen.idSucursal as idOrigen, SucursalOrigen.sucursal as origen, SucursalDestino.idSucursal AS idDestino, SucursalDestino.sucursal AS destino, 
--                      SUM(dbo.CortePorMovimiento.cantKg) AS TotalEgreso
--FROM         dbo.Corte INNER JOIN
--                      dbo.Corte AS CorteP ON dbo.Corte.idCorte = CorteP.idCorteMaestro INNER JOIN
--                      dbo.CortePorMovimiento ON CorteP.idCorte = dbo.CortePorMovimiento.idCorte INNER JOIN
--                      dbo.Movimiento ON dbo.CortePorMovimiento.idMovimientos = dbo.Movimiento.idMovimiento INNER JOIN
--                      dbo.Sucursal AS SucursalOrigen ON dbo.Movimiento.sucursalOrigen = SucursalOrigen.idSucursal INNER JOIN
--                      dbo.Sucursal AS SucursalDestino ON dbo.Movimiento.sucursalDestino = SucursalDestino.idSucursal
--WHERE     (dbo.Corte.codigo > 0) AND (CorteP.independiente = 1) AND (dbo.Movimiento.fechaMovimiento BETWEEN @fechaDesde AND @fechaHasta+1) AND (dbo.Movimiento.sucursalDestino = @idSucursal) AND 
--                       ((dbo.Corte.corte LIKE '%' + @texto + '%') or (cast( dbo.Movimiento.idMovimiento as nvarchar(8)) like @texto ))
--GROUP BY dbo.Corte.idCorte, dbo.Corte.corte, SucursalOrigen.idSucursal, SucursalOrigen.sucursal, SucursalDestino.idSucursal, SucursalDestino.sucursal)
--union
--(SELECT    dbo.Corte.idCorte, dbo.Corte.corte, SucursalOrigen.idSucursal as idOrigen, SucursalOrigen.sucursal as origen, SucursalDestino.idSucursal AS idDestino, SucursalDestino.sucursal AS destino, 
--                      SUM(dbo.CortePorMovimiento.cantKg) AS TotalEgreso
--FROM         dbo.Sucursal AS SucursalOrigen INNER JOIN
--                      dbo.Movimiento INNER JOIN
--                      dbo.CortePorMovimiento ON dbo.Movimiento.idMovimiento = dbo.CortePorMovimiento.idMovimientos INNER JOIN
--                      dbo.Corte AS CorteM INNER JOIN
--                      dbo.Corte ON CorteM.idCorte = dbo.Corte.idCorteMaestro AND CorteM.idCorte <> dbo.Corte.idCorte INNER JOIN
--                      dbo.Corte AS MediaRes ON CorteM.idCorteMaestro = MediaRes.idCorte AND CorteM.idCorte <> MediaRes.idCorte ON 
--                      dbo.CortePorMovimiento.idCorte = dbo.Corte.idCorte ON SucursalOrigen.idSucursal = dbo.Movimiento.sucursalOrigen INNER JOIN
--                      dbo.Sucursal AS SucursalDestino ON dbo.Movimiento.sucursalDestino = SucursalDestino.idSucursal
--WHERE     (dbo.Movimiento.fechaMovimiento BETWEEN @fechaDesde AND @fechaHasta+1) AND (dbo.Movimiento.sucursalDestino = @idSucursal) AND (MediaRes.codigo < 1) 
--                      AND (Corte.independiente = 1) AND  ((dbo.Corte.corte LIKE '%' + @texto + '%') or (cast( dbo.Movimiento.idMovimiento as nvarchar(8)) like @texto ))
--GROUP BY Corte.idCorte, Corte.corte, SucursalOrigen.idSucursal, SucursalOrigen.sucursal, SucursalDestino.idSucursal, SucursalDestino.sucursal)
) as Movimientos

GROUP BY Movimientos.codigo, Movimientos.corte, Movimientos.origen, Movimientos.destino
END
