USE [SuperCerdo]
GO
/****** Object:  StoredProcedure [dbo].[obtenerMovimientos]    Script Date: 02/22/2016 20:13:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Name
-- Create date: 
-- Description:	
-- =============================================
ALTER PROCEDURE [dbo].[obtenerMovimientos] 
	-- Add the parameters for the stored procedure here
	@texto nvarchar(200),
	@sucOrigen nvarchar(50),
	@sucDestino nvarchar(50),
	@fechaDesde datetime,
	@fechaHasta datetime
	
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	((SELECT    dbo.Movimiento.idMovimiento as 'Id Movimiento',  dbo.Movimiento.fechaMovimiento as 'Fecha Movimiento', SucursalOrigen.sucursal as Origen, dbo.Movimiento.idMovOrigen as 'Id Origen', CASE 
            WHEN dbo.Movimiento.idMovOrigen > 0 and dbo.Movimiento.actualizacionCompleta = 0 
               THEN 'Error' 
               ELSE 'OK' 
       END as 'Estado', SucursalDestino.sucursal AS Destino, SUM(dbo.CortePorMovimiento.cantUnidad) AS 'Total Un.',CAST(SUM(dbo.CortePorMovimiento.cantKg)as decimal(10,3)) AS 'Total Kg', 
			  dbo.Movimiento.observaciones, dbo.Movimiento.creado, dbo.Movimiento.actualizado
	FROM         dbo.CortePorMovimiento INNER JOIN
		  dbo.Sucursal AS SucursalOrigen INNER JOIN
		  dbo.Movimiento ON SucursalOrigen.idSucursal = dbo.Movimiento.sucursalOrigen INNER JOIN
		  dbo.Sucursal AS SucursalDestino ON dbo.Movimiento.sucursalDestino = SucursalDestino.idSucursal ON 
		  dbo.CortePorMovimiento.idMovimientos = dbo.Movimiento.idMovimiento
	WHERE	fechaMovimiento between @fechaDesde and @fechaHasta+1  and SucursalOrigen.sucursal like '%'+@sucOrigen+'%'  and sucursalDestino.sucursal like '%'+@sucDestino+'%'  or (CAST(dbo.Movimiento.idMovimiento as nvarchar(50)) like @texto)      
	GROUP BY dbo.Movimiento.idMovimiento,dbo.Movimiento.fechaMovimiento, SucursalOrigen.sucursal, dbo.Movimiento.idMovOrigen, dbo.Movimiento.actualizacionCompleta, SucursalDestino.sucursal, dbo.Movimiento.observaciones, dbo.Movimiento.creado, dbo.Movimiento.actualizado)

	UNION
	
	(SELECT    dbo.Movimiento.idMovimiento as 'Id Movimiento',  dbo.Movimiento.fechaMovimiento as 'Fecha Movimiento', SucursalOrigen.sucursal as Origen, dbo.Movimiento.idMovOrigen as 'Id Origen', CASE 
            WHEN dbo.Movimiento.idMovOrigen > 0 and dbo.Movimiento.actualizacionCompleta = 0 
               THEN 'Error' 
               ELSE 'OK' 
       END as 'Estado', SucursalDestino.sucursal AS Destino,0 AS 'Total Un.', 0 AS 'Total Kg', 
			  dbo.Movimiento.observaciones, dbo.Movimiento.creado, dbo.Movimiento.actualizado
	FROM  dbo.Movimiento INNER JOIN
		  dbo.Sucursal AS SucursalOrigen ON SucursalOrigen.idSucursal = dbo.Movimiento.sucursalOrigen INNER JOIN
		  dbo.Sucursal AS SucursalDestino ON dbo.Movimiento.sucursalDestino = SucursalDestino.idSucursal
	WHERE (SELECT COUNT(*) AS cant FROM dbo.CortePorMovimiento 
		WHERE (dbo.CortePorMovimiento.idMovimientos = dbo.Movimiento.idMovimiento)) = 0 and	fechaMovimiento between @fechaDesde and @fechaHasta+1  and SucursalOrigen.sucursal like '%'+@sucOrigen+'%'  and sucursalDestino.sucursal like '%'+@sucDestino+'%'  or (CAST(dbo.Movimiento.idMovimiento as nvarchar(50)) like @texto)))
	
	order by fechaMovimiento desc
	
END
