USE [SuperCerdo]
GO
/****** Object:  StoredProcedure [dbo].[cargarMovimiento]    Script Date: 05/03/2015 21:14:05 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Name
-- Create date: 
-- Description:	
-- =============================================
ALTER PROCEDURE [dbo].[cargarMovimiento] 
	-- Add the parameters for the stored procedure here
	@idMovimiento int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT     dbo.Movimiento.idMovimiento, dbo.Movimiento.fechaMovimiento, dbo.Movimiento.sucursalOrigen as idOrigen, SucursalOrigen.sucursal as origen, dbo.Movimiento.sucursalDestino as idDestino, 
			  SucursalDestino.sucursal AS destino, dbo.Movimiento.observaciones, dbo.Movimiento.creado, dbo.Movimiento.actualizado
	FROM         dbo.Sucursal AS SucursalOrigen INNER JOIN
			  dbo.Movimiento ON SucursalOrigen.idSucursal = dbo.Movimiento.sucursalOrigen INNER JOIN
			  dbo.Sucursal AS SucursalDestino ON dbo.Movimiento.sucursalDestino = SucursalDestino.idSucursal
	where dbo.Movimiento.idMovimiento=@idMovimiento
END
