USE [SuperCerdo]
GO
/****** Object:  StoredProcedure [dbo].[agregarCortePorMovimiento]    Script Date: 05/03/2015 20:18:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Name
-- Create date: 
-- Description:	
-- =============================================
ALTER PROCEDURE [dbo].[agregarCortePorMovimiento] 
	-- Add the parameters for the stored procedure here
	@idMovimiento int,
	@idCorte int,
	@cantKg float,
	@cantUnidad int = 0,
	@pesoBalanza bit=0
	
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
    insert into CortePorMovimiento(idMovimientos,idCorte,cantKg, cantUnidad, pesoBalanza) 
		values (@idMovimiento,@idCorte,@cantKg, @cantUnidad, @pesoBalanza)
		
	declare @idCorteMovimiento int;
	
	select top 1 @idCorteMovimiento=idCorteMovimiento  from CortePorMovimiento order by idCorteMovimiento desc
	
	
	----*******Sucursal Origen
	----Actualizo el Stock de los cortes
	
	----Descuento los Kgs de la sucursal de origen
	--update StockCorteSucursal set stock=(stock - dbo.CortePorMovimiento.cantKg )
	--FROM         dbo.StockCorteSucursal INNER JOIN
	--		  dbo.Movimiento ON dbo.StockCorteSucursal.idSucursal = dbo.Movimiento.sucursalOrigen INNER JOIN
	--		  dbo.CortePorMovimiento ON dbo.StockCorteSucursal.idCorte = dbo.CortePorMovimiento.idCorte AND 
	--		  dbo.Movimiento.idMovimiento = dbo.CortePorMovimiento.idMovimientos
	--WHERE     (dbo.CortePorMovimiento.idCorteMovimiento = @idCorteMovimiento)
		
	
	---- Se actualizan todos los sub-cortes del corte ingresado
	--update StockCorteSucursal 
	--	set stock=(stock - (dbo.CortePorMovimiento.cantKg  * (CorteP.porcentaje / 100) ))
	--FROM         dbo.StockCorteSucursal AS StockCorteSucursal INNER JOIN
	--		  dbo.Corte AS CorteP ON StockCorteSucursal.idCorte = CorteP.idCorte INNER JOIN
	--		  dbo.Movimiento ON StockCorteSucursal.idSucursal = dbo.Movimiento.sucursalOrigen INNER JOIN
	--		  dbo.Corte AS CorteM ON CorteP.idCorteMaestro = CorteM.idCorte AND CorteP.idCorte <> CorteM.idCorte INNER JOIN
	--		  dbo.CortePorMovimiento ON CorteM.idCorte = dbo.CortePorMovimiento.idCorte AND dbo.Movimiento.idMovimiento = dbo.CortePorMovimiento.idMovimientos
	--WHERE     (dbo.CortePorMovimiento.idCorteMovimiento = @idCorteMovimiento)
	
				
	---- Se actualizan todos los sub-cortes de los sub-cortes del corte ingresado
	--update StockCorteSucursal 
	--	set stock=(stock - (dbo.CortePorMovimiento.cantKg  *((CorteM.porcentaje)/100) * (CorteP.porcentaje / 100)))
	--FROM         dbo.StockCorteSucursal AS StockCorteSucursal INNER JOIN
	--	  dbo.Corte AS CorteP ON StockCorteSucursal.idCorte = CorteP.idCorte INNER JOIN
	--	  dbo.Movimiento ON StockCorteSucursal.idSucursal = dbo.Movimiento.sucursalOrigen INNER JOIN
	--	  dbo.Corte AS CorteM ON CorteP.idCorteMaestro = CorteM.idCorte AND CorteP.idCorte <> CorteM.idCorte INNER JOIN
	--	  dbo.Corte AS CorteMedia ON CorteM.idCorteMaestro = CorteMedia.idCorte INNER JOIN
	--	  dbo.CortePorMovimiento ON dbo.Movimiento.idMovimiento = dbo.CortePorMovimiento.idMovimientos AND 
	--	  CorteMedia.idCorte = dbo.CortePorMovimiento.idCorte
	--WHERE     (dbo.CortePorMovimiento.idCorteMovimiento = @idCorteMovimiento)	
	
				
	---- Se Actualiza Corte M del CorteM del corte ingresado
	--update StockCorteSucursal 
	--	set stock=(stock - (dbo.CortePorMovimiento.cantKg + (dbo.CortePorMovimiento.cantKg * CorteP.porcentajeHueso / CorteP.porcentaje)
	--					+(( dbo.CortePorMovimiento.cantKg + (dbo.CortePorMovimiento.cantKg * CorteP.porcentajeHueso / CorteP.porcentaje))*
	--						CorteM.porcentajeHueso / CorteM.porcentaje)))
	--FROM         dbo.Corte AS CorteM INNER JOIN
	--	  dbo.Corte AS CorteP ON CorteM.idCorte = CorteP.idCorteMaestro AND CorteM.idCorte <> CorteP.idCorte INNER JOIN
	--	  dbo.Corte AS CorteSubMedia ON CorteM.idCorteMaestro = CorteSubMedia.idCorte INNER JOIN
	--	  dbo.StockCorteSucursal AS StockCorteSucursal ON CorteSubMedia.idCorte = StockCorteSucursal.idCorte INNER JOIN
	--	  dbo.Movimiento ON StockCorteSucursal.idSucursal = dbo.Movimiento.sucursalOrigen INNER JOIN
	--		  dbo.CortePorMovimiento ON CorteP.idCorte = dbo.CortePorMovimiento.idCorte AND dbo.Movimiento.idMovimiento = dbo.CortePorMovimiento.idMovimientos
	--WHERE     (dbo.CortePorMovimiento.idCorteMovimiento = @idCorteMovimiento) AND (CorteSubMedia.codigo > 0)


	---- Se Actualiza CorteM del corte ingresado
	--update StockCorteSucursal 
	--	set stock=(stock - dbo.CortePorMovimiento.cantKg  - (dbo.CortePorMovimiento.cantKg  * CorteP.porcentajeHueso / CorteP.porcentaje) )
	--FROM         dbo.Corte AS CorteM INNER JOIN
	--	  dbo.Corte AS CorteP ON CorteM.idCorte = CorteP.idCorteMaestro AND CorteM.idCorte <> CorteP.idCorte INNER JOIN
	--	  dbo.StockCorteSucursal AS StockCorteSucursal ON CorteM.idCorte = StockCorteSucursal.idCorte INNER JOIN
	--	  dbo.Movimiento ON StockCorteSucursal.idSucursal = dbo.Movimiento.sucursalOrigen INNER JOIN
	--	  dbo.CortePorMovimiento ON CorteP.idCorte = dbo.CortePorMovimiento.idCorte AND dbo.Movimiento.idMovimiento = dbo.CortePorMovimiento.idMovimientos
	--WHERE     ( dbo.CortePorMovimiento.idCorteMovimiento= @idCorteMovimiento) AND (CorteM.codigo > 0)


	----*********Sucursal Destino
	----Sumo los Kgs a la sucursal Destino
	--update StockCorteSucursal set stock=(stock + dbo.CortePorMovimiento.cantKg )
	--FROM         dbo.StockCorteSucursal INNER JOIN
	--		  dbo.Movimiento ON dbo.StockCorteSucursal.idSucursal = dbo.Movimiento.sucursalDestino INNER JOIN
	--		  dbo.CortePorMovimiento ON dbo.StockCorteSucursal.idCorte = dbo.CortePorMovimiento.idCorte AND 
	--		  dbo.Movimiento.idMovimiento = dbo.CortePorMovimiento.idMovimientos
	--WHERE     (dbo.CortePorMovimiento.idCorteMovimiento = @idCorteMovimiento)
		
	
	---- Se actualizan todos los sub-cortes del corte ingresado
	--update StockCorteSucursal 
	--	set stock=(stock + (dbo.CortePorMovimiento.cantKg  * (CorteP.porcentaje / 100) ))
	--FROM         dbo.StockCorteSucursal AS StockCorteSucursal INNER JOIN
	--		  dbo.Corte AS CorteP ON StockCorteSucursal.idCorte = CorteP.idCorte INNER JOIN
	--		  dbo.Movimiento ON StockCorteSucursal.idSucursal = dbo.Movimiento.sucursalDestino INNER JOIN
	--		  dbo.Corte AS CorteM ON CorteP.idCorteMaestro = CorteM.idCorte AND CorteP.idCorte <> CorteM.idCorte INNER JOIN
	--		  dbo.CortePorMovimiento ON CorteM.idCorte = dbo.CortePorMovimiento.idCorte AND dbo.Movimiento.idMovimiento = dbo.CortePorMovimiento.idMovimientos
	--WHERE     (dbo.CortePorMovimiento.idCorteMovimiento = @idCorteMovimiento)
	
				
	---- Se actualizan todos los sub-cortes de los sub-cortes del corte ingresado
	--update StockCorteSucursal 
	--	set stock=(stock + (dbo.CortePorMovimiento.cantKg  *((CorteM.porcentaje)/100) * (CorteP.porcentaje / 100)))
	--FROM         dbo.StockCorteSucursal AS StockCorteSucursal INNER JOIN
	--	  dbo.Corte AS CorteP ON StockCorteSucursal.idCorte = CorteP.idCorte INNER JOIN
	--	  dbo.Movimiento ON StockCorteSucursal.idSucursal = dbo.Movimiento.sucursalDestino INNER JOIN
	--	  dbo.Corte AS CorteM ON CorteP.idCorteMaestro = CorteM.idCorte AND CorteP.idCorte <> CorteM.idCorte INNER JOIN
	--	  dbo.Corte AS CorteMedia ON CorteM.idCorteMaestro = CorteMedia.idCorte INNER JOIN
	--	  dbo.CortePorMovimiento ON dbo.Movimiento.idMovimiento = dbo.CortePorMovimiento.idMovimientos AND 
	--	  CorteMedia.idCorte = dbo.CortePorMovimiento.idCorte
	--WHERE     (dbo.CortePorMovimiento.idCorteMovimiento = @idCorteMovimiento)	
	
				
	---- Se Actualiza Corte M del CorteM del corte ingresado
	--update StockCorteSucursal 
	--	set stock=(stock + (dbo.CortePorMovimiento.cantKg + (dbo.CortePorMovimiento.cantKg * CorteP.porcentajeHueso / CorteP.porcentaje)
	--					+(( dbo.CortePorMovimiento.cantKg + (dbo.CortePorMovimiento.cantKg * CorteP.porcentajeHueso / CorteP.porcentaje))*
	--						CorteM.porcentajeHueso / CorteM.porcentaje)) )
	--FROM         dbo.Corte AS CorteM INNER JOIN
	--	  dbo.Corte AS CorteP ON CorteM.idCorte = CorteP.idCorteMaestro AND CorteM.idCorte <> CorteP.idCorte INNER JOIN
	--	  dbo.Corte AS CorteSubMedia ON CorteM.idCorteMaestro = CorteSubMedia.idCorte INNER JOIN
	--	  dbo.StockCorteSucursal AS StockCorteSucursal ON CorteSubMedia.idCorte = StockCorteSucursal.idCorte INNER JOIN
	--	  dbo.Movimiento ON StockCorteSucursal.idSucursal = dbo.Movimiento.sucursalDestino INNER JOIN
	--		  dbo.CortePorMovimiento ON CorteP.idCorte = dbo.CortePorMovimiento.idCorte AND dbo.Movimiento.idMovimiento = dbo.CortePorMovimiento.idMovimientos
	--WHERE     (dbo.CortePorMovimiento.idCorteMovimiento = @idCorteMovimiento) AND (CorteSubMedia.codigo > 0)


	---- Se Actualiza CorteM del corte ingresado
	--update StockCorteSucursal 
	--	set stock=(stock + dbo.CortePorMovimiento.cantKg  + (dbo.CortePorMovimiento.cantKg  * CorteP.porcentajeHueso / CorteP.porcentaje) )
	--FROM         dbo.Corte AS CorteM INNER JOIN
	--	  dbo.Corte AS CorteP ON CorteM.idCorte = CorteP.idCorteMaestro AND CorteM.idCorte <> CorteP.idCorte INNER JOIN
	--	  dbo.StockCorteSucursal AS StockCorteSucursal ON CorteM.idCorte = StockCorteSucursal.idCorte INNER JOIN
	--	  dbo.Movimiento ON StockCorteSucursal.idSucursal = dbo.Movimiento.sucursalDestino INNER JOIN
	--	  dbo.CortePorMovimiento ON CorteP.idCorte = dbo.CortePorMovimiento.idCorte AND dbo.Movimiento.idMovimiento = dbo.CortePorMovimiento.idMovimientos
	--WHERE     ( dbo.CortePorMovimiento.idCorteMovimiento= @idCorteMovimiento) AND (CorteM.codigo > 0)
	
	
	
	
	----Agregar Corte Por Movimiento
	-----ACTUALIZACION DE CORTES
	
	
	----SubCortes del CorteMaestro del CorteM del corte ingresado
	--update StockCorteSucursal 
	--set stock=(StockCorteSucursalMaestro.stock * CorteSubCorte.porcentaje/100)
	--FROM         dbo.Corte AS SubCorteM INNER JOIN
	--	  dbo.StockCorteSucursal AS StockCorteSucursal INNER JOIN
	--	  dbo.Corte AS CorteSubCorte ON StockCorteSucursal.idCorte = CorteSubCorte.idCorte INNER JOIN
	--	  dbo.StockCorteSucursal AS StockCorteSucursalMaestro INNER JOIN
	--	  dbo.Corte AS CorteM ON StockCorteSucursalMaestro.idCorte = CorteM.idCorte ON CorteSubCorte.idCorteMaestro = CorteM.idCorte AND 
	--	  StockCorteSucursal.idSucursal = StockCorteSucursalMaestro.idSucursal ON SubCorteM.idCorteMaestro = CorteM.idCorte AND 
	--	  SubCorteM.idCorte <> CorteSubCorte.idCorte INNER JOIN
	--	  dbo.Corte AS CorteP INNER JOIN
	--	  dbo.CortePorMovimiento ON CorteP.idCorte = dbo.CortePorMovimiento.idCorte ON SubCorteM.idCorte = CorteP.idCorteMaestro
	--WHERE     (CorteM.codigo > 0) AND (CorteSubCorte.independiente = 0) AND (dbo.CortePorMovimiento.idCorteMovimiento = @idCorteMovimiento)
	
	
	----Subcortes de los Subcortes del Corte Maestro del CorteM del corte ingresado
	--update StockCorteSucursal 
	--set stock=(StockCorteSucursalMaestro.stock * CorteSubCorte2.porcentaje / 100 )	 
	--FROM         dbo.StockCorteSucursal AS StockCorteSucursal INNER JOIN
 --         dbo.StockCorteSucursal AS StockCorteSucursalMaestro ON StockCorteSucursal.idSucursal = StockCorteSucursalMaestro.idSucursal INNER JOIN
 --         dbo.Corte AS CorteM INNER JOIN
 --         dbo.Corte AS CorteSubCorte INNER JOIN
 --         dbo.Corte AS CorteSubCorte2 ON CorteSubCorte.idCorte = CorteSubCorte2.idCorteMaestro ON CorteM.idCorte = CorteSubCorte.idCorteMaestro ON 
 --         StockCorteSucursal.idCorte = CorteSubCorte2.idCorte AND StockCorteSucursalMaestro.idCorte = CorteSubCorte.idCorte INNER JOIN
 --         dbo.Corte AS SubCorteM ON CorteM.idCorte = SubCorteM.idCorteMaestro AND CorteSubCorte.idCorte <> SubCorteM.idCorte INNER JOIN
 --         dbo.CortePorMovimiento INNER JOIN
 --             dbo.Corte AS CorteP ON dbo.CortePorMovimiento.idCorte = CorteP.idCorte ON SubCorteM.idCorte = CorteP.idCorteMaestro
	--WHERE     (CorteM.codigo > 0) AND (dbo.CortePorMovimiento.idCorteMovimiento = @idCorteMovimiento) AND (CorteSubCorte.independiente = 0)
	
	
	----SubCortes del CorteMaestro
	--update StockCorteSucursal 
	--set stock=(StockCorteSucursalMaestro.stock * CorteSubCorte.porcentaje/100)
	--FROM         dbo.Corte AS CorteP INNER JOIN
	--		  dbo.StockCorteSucursal AS StockCorteSucursal INNER JOIN
	--		  dbo.Corte AS CorteSubCorte ON StockCorteSucursal.idCorte = CorteSubCorte.idCorte INNER JOIN
	--		  dbo.StockCorteSucursal AS StockCorteSucursalMaestro INNER JOIN
	--		  dbo.Corte AS CorteM ON StockCorteSucursalMaestro.idCorte = CorteM.idCorte ON CorteSubCorte.idCorteMaestro = CorteM.idCorte AND 
	--		  StockCorteSucursal.idSucursal = StockCorteSucursalMaestro.idSucursal ON CorteP.idCorteMaestro = CorteM.idCorte AND 
	--		  CorteP.idCorte <> CorteSubCorte.idCorte INNER JOIN
	--		  dbo.CortePorMovimiento ON CorteP.idCorte = dbo.CortePorMovimiento.idCorte
	--WHERE     (dbo.CortePorMovimiento.idCorteMovimiento = @idCorteMovimiento) AND (CorteM.codigo > 0) AND (CorteSubCorte.independiente = 0)
	
	
	----Subcortes de los Subcortes del Corte Maestro
	--update StockCorteSucursal 
	--set stock=(StockCorteSucursalMaestro.stock * CorteSubCorte2.porcentaje / 100 )	 
	--FROM         dbo.Corte AS CorteSubCorte INNER JOIN
	--	  dbo.Corte AS CorteSubCorte2 ON CorteSubCorte.idCorte = CorteSubCorte2.idCorteMaestro INNER JOIN
	--	  dbo.Corte AS CorteM INNER JOIN
	--	  dbo.Corte AS CorteP ON CorteM.idCorte = CorteP.idCorteMaestro ON CorteSubCorte.idCorteMaestro = CorteM.idCorte AND 
	--	  CorteSubCorte.idCorte <> CorteP.idCorte INNER JOIN
	--	  dbo.StockCorteSucursal AS StockCorteSucursal INNER JOIN
	--	  dbo.StockCorteSucursal AS StockCorteSucursalMaestro ON StockCorteSucursal.idSucursal = StockCorteSucursalMaestro.idSucursal ON 
	--	  CorteSubCorte2.idCorte = StockCorteSucursal.idCorte AND CorteSubCorte.idCorte = StockCorteSucursalMaestro.idCorte INNER JOIN
	--	  dbo.CortePorMovimiento ON CorteP.idCorte = dbo.CortePorMovimiento.idCorte
	--WHERE     (CorteM.codigo > 0) AND (dbo.CortePorMovimiento.idCorteMovimiento = @idCorteMovimiento)  AND (CorteSubCorte.independiente = 0)
	
	
END
