USE [SuperCerdo]
GO
/****** Object:  StoredProcedure [dbo].[cargarCortesPorMovimiento]    Script Date: 05/03/2015 17:00:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Name
-- Create date: 
-- Description:	
-- =============================================
ALTER PROCEDURE [dbo].[cargarCortesPorMovimiento] 
	-- Add the parameters for the stored procedure here
	@idMovimiento int
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;

    -- Insert statements for procedure here
	SELECT     dbo.CortePorMovimiento.idCorteMovimiento, dbo.Corte.idCorte, dbo.Corte.codigo, dbo.Corte.corte, dbo.CortePorMovimiento.cantKg, dbo.CortePorMovimiento.cantUnidad,dbo.CortePorMovimiento.pesoBalanza
	FROM         dbo.CortePorMovimiento INNER JOIN
			  dbo.Corte ON dbo.CortePorMovimiento.idCorte = dbo.Corte.idCorte
	where dbo.CortePorMovimiento.idMovimientos=@idMovimiento
END
