<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="wsAFIPvs2008.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <wsAFIPvs2008.Properties.Settings>
      <setting name="wsAFIPvs2008_WSAA_LoginCMSService" serializeAs="String">
        <value>https://wsaahomo.afip.gov.ar/ws/services/LoginCms</value>
      </setting>
      <setting name="wsAFIPvs2008_WSFEHOMO_Service" serializeAs="String">
        <value>https://wswhomo.afip.gov.ar/wsfev1/service.asmx</value>
      </setting>
      <setting name="wsAFIPvs2008_WSPSA4_PersonaServiceA4" serializeAs="String">
        <value>https://aws.afip.gov.ar/sr-padron/webservices/personaServiceA4</value>
      </setting>
      <setting name="wsAFIPvs2008_ar_gov_afip_aws_PersonaServiceA13" serializeAs="String">
        <value>https://aws.afip.gov.ar/sr-padron/webservices/personaServiceA13</value>
      </setting>
    </wsAFIPvs2008.Properties.Settings>
  </applicationSettings>
  <appSettings>
    <!--testing = 0 | produccion = 1-->
    <add key="tipoServidor" value="1" />
    <!--San Martin = 6 | San Lorenzo = 7-->
    <add key="ptoVtaAfip" value="6" />
    <add key="cuit" value="20306210786" />
	  <!--Alicuotas IVA -> ID 3 = 0% | ID 4 = 10.5% | ID 5 = 21% | ID 6 = 27%  -->
    <add key="idIvaAliAfip" value="4" />
    <!--Datos a imprimir-->
    <add key="Negocio" value="GranPork" />
    <add key="NegocioAgregado1" value="-SuperCerdo-" />
    <add key="NegocioAgregado2" value="Tu Primer Carniceria de Cerdo" />
    <add key="NegocioAgregado3" value="-" />
    <add key="IIBB" value="IIBB: 1416543389" />
    <add key="Dueno" value="German A. Paduan" />
    <add key="Direccion" value="Dir:San Lorenzo 1208" />
    <add key="Localidad" value="Reconquista - Santa Fe" />
    <add key="InicioActividades" value="Inicio Act.: 05/03/2018" />
    <add key="CondicionIVA" value="Resp. Inscripto" />
    <add key="rutaCertificado" value="C:\Users\Germán\certif-prod.pfx" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>