<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <!--****Base de Datos LOCAL****-->
  <!--<connectionStrings>
    <add name="connecString" connectionString="Data Source=equipogap;Initial Catalog=SuperCerdo;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  
  <!--****Base de Datos SUPERCERDO***-->
  <!--<connectionStrings>
    <add name="connecString" connectionString="Data Source=200.43.113.188,1433\sqlexpress;Network Library=DBMSSOCN;;Initial Catalog=SuperCerdo;User ID=sa;Password=sistema;"/>
  </connectionStrings>-->

  <!--****Base de Datos Local SUPERCERDO***-->
  <connectionStrings>
    <add name="connecString" connectionString="Data Source=.\sqlexpress;Initial Catalog=SuperCerdo;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>   
    <add key="clave" value="sistema" />
    <add key="idSucursal" value="2" />
    <add key="FechaDesdePago" value="01/08/2012" />
  </appSettings>
</configuration>
