<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <!--****Base de Datos LOCAL****-->
    <add name="connecString" connectionString="Data Source=equipogap;Initial Catalog=SuperCerdo;Integrated Security=True"
        providerName="System.Data.SqlClient" />
    
    <!--****Base de Datos SUPERCERDO***-->
    <!--<add name="connecStringRemota" connectionString="Data Source=200.43.113.188,1433\sqlexpress;Network Library=DBMSSOCN;;Initial Catalog=SuperCerdo;User ID=sa;Password=sistema;"/>-->

  <!--****Base de Datos Local SUPERCERDO***-->
    <add name="connecStringRemota" connectionString="Data Source=.\sqlexpress;Initial Catalog=SuperCerdo;Integrated Security=True"
        providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <appSettings>   
    
    <add key="clave" value="sistema" />

    <!--****velocidad Timer Balanza***-->
    <add key="timerBalanza" value="100" />
    
    <!--****velocidad Timer Formularios***-->
    <add key="timerForm" value="50" />
    
    <!--****Sucursal***-->    
    <add key="idSucursal" value="1" />

    <!--****Impresora***-->
    <add key="Impresora" value="GP-5890X Series" />
    
    <add key="idConsumidorFinal" value="6" />
    <add key="FechaDesdePago" value="01/08/2012" />
  </appSettings>
</configuration>
