<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="AFIP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <AFIP.Properties.Settings>
            <setting name="AFIP_ar_gov_afip_wsaahomo_LoginCMSService" serializeAs="String">
                <value>https://wsaahomo.afip.gov.ar/ws/services/LoginCms</value>
            </setting>
            <setting name="AFIP_WSFEHOMO_Service" serializeAs="String">
                <value>https://wswhomo.afip.gov.ar/wsfev1/service.asmx</value>
            </setting>
            <setting name="AFIP_WSPSA13_PersonaServiceA13" serializeAs="String">
                <value>https://aws.afip.gov.ar/sr-padron/webservices/personaServiceA13</value>
            </setting>
            <setting name="AFIP_WSPSA4_PersonaServiceA4" serializeAs="String">
                <value>https://aws.afip.gov.ar/sr-padron/webservices/personaServiceA4</value>
            </setting>
        </AFIP.Properties.Settings>
    </applicationSettings>
    <system.serviceModel>
        <bindings />
        <client />
    </system.serviceModel>
</configuration>