<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="SmtpUser" value="usuario@dominio.com" />
  <add key="SmtpPass" value="clave-o-app-password" />
  <add key="SmtpFromEmail" value="usuario@dominio.com" />
  <add key="SmtpFromName" value="CarniSys" />
</appSettings>
