<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="ConexionPrincipal"
       connectionString="Data Source=SERVER\\INSTANCE;Initial Catalog=DATABASE;User ID=USER;Password=PASSWORD;"
       providerName="System.Data.SqlClient" />
  <!-- Piloto de la migracion a Postgres (Etapa 2). Password real en ~/hosts/postgres-local.env -->
  <add name="ConexionPostgresPiloto"
       connectionString="Host=HOST;Port=5432;Database=DATABASE;Username=USER;Password=PASSWORD;"
       providerName="Npgsql" />
</connectionStrings>
