<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="MostrarDetallesError" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Security:EnforceHttps" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Security:EnableHsts" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Security:CookieRequireSsl" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <httpCookies requireSSL="false" xdt:Transform="SetAttributes(requireSSL)" />
    <sessionState cookieSameSite="Lax" xdt:Transform="SetAttributes(cookieSameSite)" />
    <authentication>
      <forms requireSSL="false" cookieSameSite="Lax" xdt:Transform="SetAttributes(requireSSL, cookieSameSite)" />
    </authentication>
  </system.web>
</configuration>
