<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using Web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=301874 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="MostrarDetallesError" value="false" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Security:EnforceHttps" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Security:EnableHsts" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
    <add key="Security:CookieRequireSsl" value="true" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <system.web>
    <compilation debug="false" xdt:Transform="SetAttributes(debug)" />
    <httpCookies requireSSL="true" sameSite="Lax" xdt:Transform="SetAttributes(requireSSL, sameSite)" />
    <sessionState cookieSameSite="Lax" xdt:Transform="SetAttributes(cookieSameSite)" />
    <authentication>
      <forms requireSSL="true" cookieSameSite="Lax" xdt:Transform="SetAttributes(requireSSL, cookieSameSite)" />
    </authentication>
    <customErrors mode="RemoteOnly" xdt:Transform="SetAttributes(mode)" />
  </system.web>
  <system.webServer>
    <httpErrors errorMode="Custom" xdt:Transform="SetAttributes(errorMode)" />
  </system.webServer>
</configuration>
